{% if article.data.featured and page.url == '/' %}
    {% set featured = true %}
    {% set featuredClass %}{{ '--featured' }}{% endset %}
{% endif %}

<article itemscope class="
    article-card
    article-card{{ articleType }}
    article-card{{ featuredClass }}">
    <h3 class="
        article-card__title
        article-card__title{{ articleType }}
        article-card__title{{ featuredClass }}">
        <a class="
            article-card__link
            article-card__link{{ articleType }}
            article-card__link{{ featuredClass }}"
            href="{{ article.url }}">
            {{ article.data.title | addHyphens(10) }}
        </a>
    </h3>

    {% if featured and articleCardVariant !== 'related' %}
        <p class="article-card__preview">
            {{ article.data.preview }}
        </p>
    {% endif %}

    <time class="
        article-card__date
        article-card__date{{ articleType }}
        article-card__date{{ featuredClass }}"
        datetime="{{ article.date | isoDate }}">
        {{ article.date | ruDate }}
    </time>

    <div class="article-card__author-container {{ 'article-card__author-container--featured' if featured }}">
        {% for person in article.data.authorData %}
            <span class="
                article-card__author
                article-card__author{{ articleType }}
                article-card__author{{ featuredClass }}">
                {{ person.name }}{{ ', ' if not loop.last else '' }}
            </span>
        {% endfor %}
    </div>

    {% if not featured or articleCardVariant == 'related' %}
        <div class="article-card__avatar-container">
            {% for person in article.data.authorData %}
                {% if person.photo %}
                    {% if article.data.authorData | length > 1 %}
                        {% set orderedAuthors = article.data.author | sort() %}
                        {% set personPhoto = [orderedAuthors[loop.index0], '/photo.jpg'] | join %}
                    {% else %}
                        {% set personPhoto = [article.data.author, '/photo.jpg'] | join %}
                    {% endif %}
                {% else %}
                    {% set personPhoto = 'person.png' %}
                {% endif %}

                <div class="
                    article-card__avatar
                    article-card__avatar{{ articleType }}
                    blob {% blob person.name %}">
                    <img class="
                            article-card__photo
                            article-card__photo{{ articleType }}
                            blob__photo"
                        src="/people/{{ personPhoto }}"
                        width="80" height="80"
                        sizes="(min-width: 1024px) 112px, 80px"
                        {% if articleType === '--articles' %}loading="lazy"{% endif %}
                        alt="{{ person.name }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if featured and articleCardVariant !== 'related' %}
        {% if article.data.hero.src %}
            {% set featuredImg = [article.url, article.data.hero.src] | join %}
        {% else %}
            {% set featuredImg = '/images/patterns/dots.svg' %}
        {% endif %}
        {% if article.data.hero.alt %}
            {% set featuredAlt = article.data.hero.alt %}
        {% endif %}
        <img class="article-card__hero-image--featured"
            src="{{ featuredImg }}"
            alt="{{ featuredAlt }}"
            itemprop="image">
    {% endif %}

</article>
