{% if article.data.featured and page.url == '/' %}
    {% set featured = true %}
    {% set featuredClass %}{{ '--featured' }}{% endset %}
{% endif %}

<article class="
    article-card
    article-card{{ articleType }}
    article-card{{ featuredClass }}">
    <h3 class="
        article-card__title
        article-card__title{{ articleType }}
        article-card__title{{ featuredClass }}">
        <a class="
            article-card__link
            article-card__link{{ articleType }}
            article-card__link{{ featuredClass }}"
            href="{{ article.url }}">
            {{ article.data.title }}
        </a>
    </h3>

    {% if featured %}
        <p class="article-card__preview">
            {{ article.data.preview }}
        </p>
    {% endif %}

    <time class="
        article-card__date
        article-card__date{{ articleType }}
        article-card__date{{ featuredClass }}"
        datetime="{{ article.date | isoDate }}">
        {{ article.date | ruDate }}
    </time>

    {% for person in collections.people | filterPeople(article.data.author) %}
        {% if person.photo %}
            {% set personPhoto = [article.data.author, '/photo.jpg'] | join %}
        {% else %}
            {% set personPhoto = 'person.png' %}
        {% endif %}

        <span class="
            article-card__author
            article-card__author{{ articleType }}
            article-card__author{{ featuredClass }}">
            {{ person.name }}
        </span>

        {% if not featured %}
            <div class="
                article-card__avatar
                article-card__avatar{{ articleType }}
                blob {% blob person.name %}">
                <img class="
                        article-card__photo
                        article-card__photo{{ articleType }}
                        blob__photo"
                    src="/people/{{ personPhoto }}"
                    width="80" height="74"
                    alt="{{ person.name }}">
            </div>
        {% endif %}
    {% endfor %}

    {% if featured %}
        {% if article.data.hero.src %}
            {% set featuredImg = [article.url, article.data.hero.src] | join %}
        {% else %}
            {% set featuredImg = '/images/patterns/dots.svg' %}
        {% endif %}
        {% if article.data.hero.alt %}
            {% set featuredAlt = article.data.hero.alt %}
        {% endif %}
        <img class="article-card__hero-image--featured"
            src="{{ featuredImg }}"
            alt="{{ featuredAlt }}"
            itemprop="image">
    {% endif %}

</article>
