<aside class="links">
    <h2 class="links__title">На связи</h2>
    <dl class="links__list">
        <div class="links__section">
            <dt class="links__definition">Читайте новости и узнавайте о ближайших событиях</dt>
            <dd class="links__description">
                <a
                    class="links__link links__link--vk"
                    href="https://vk.com/webstandards_ru"
                    aria-label="ВКонтакте"
                ></a>
                <a
                    class="links__link links__link--telegram"
                    href="https://t.me/webstandards_ru"
                    aria-label="Телеграм"
                ></a>
                <a
                    class="links__link links__link--facebook"
                    href="https://www.facebook.com/webstandardsru/"
                    aria-label="Фейсбук"
                ></a>
                <a
                    class="links__link links__link--twitter"
                    href="https://twitter.com/webstandards_ru"
                    aria-label="Твиттер"
                ></a>
            </dd>
        </div>
        <div class="links__section">
            <dt class="links__definition">Общайтесь и пишите код вместе с нами</dt>
            <dd class="links__description">
                <a
                    class="links__link links__link--telegram"
                    href="https://t.me/webstandards_chat"
                    aria-label="Чат"
                ></a>
                <a
                    class="links__link links__link--github"
                    href="https://github.com/web-standards-ru"
                    aria-label="Гитхаб"
                ></a>
            </dd>
        </div>
        <div class="links__section">
            <dt class="links__definition">Смотрите видео выступлений и свежие эпизоды подкаста</dt>
            <dd class="links__description">
                <a
                    class="links__link links__link--youtube"
                    href="https://www.youtube.com/c/webstandards_ru"
                    aria-label="Ютуб"
                ></a>
            </dd>
        </div>
    </dl>
</aside>
