<aside class="links" id="links">
    <h2 class="links__title">На связи</h2>
    <dl class="links__list">
        <div class="links__section">
            <dt class="links__definition">Свежие эпизоды подкаста и анонсы статей</dt>
            <dd class="links__description links__description--icons">
                <a
                    class="links__icon links__icon--telegram"
                    href="https://t.me/webstandards_ru"
                    aria-label="Telegram"
                ></a>
                <a
                    class="links__icon links__icon--x"
                    href="https://twitter.com/webstandards_ru"
                    aria-label="X"
                ></a>
                <a
                    class="links__icon links__icon--vk"
                    href="https://vk.com/webstandards_ru"
                    aria-label="ВКонтакте"
                ></a>
                <a
                    class="links__icon links__icon--facebook"
                    href="https://www.facebook.com/webstandardsru/"
                    aria-label="Facebook"
                ></a>
                <a
                    class="links__icon links__icon--mastodon"
                    href="https://mastodon.social/@webstandards_ru"
                    aria-label="Mastodon"
                ></a>
                <a
                    class="links__icon links__icon--bluesky"
                    href="https://bsky.app/profile/web-standards.ru"
                    aria-label="Bluesky"
                ></a>
                <a
                    class="links__icon links__icon--instagram"
                    href="https://www.instagram.com/webstandards_ru/"
                    aria-label="Instagram"
                ></a>
                <a
                    class="links__icon links__icon--threads"
                    href="https://www.threads.net/@webstandards_ru"
                    aria-label="Threads"
                ></a>
            </dd>
        </div>
        <div class="links__section">
            <dt class="links__definition">Подкаст на всех платформах</dt>
            <dd class="links__description links__description--icons">
                <a
                    class="links__icon links__icon--rss"
                    href="https://web-standards.ru/podcast/feed/"
                    aria-label="RSS"
                ></a>
                <a
                    class="links__icon links__icon--apple"
                    href="https://podcasts.apple.com/podcast/id1080500016"
                    aria-label="Apple Podcasts"
                ></a>
                <a
                    class="links__icon links__icon--spotify"
                    href="https://open.spotify.com/show/3rzAcADjpBpXt73L0epTjV"
                    aria-label="Spotify"
                ></a>
                <a
                    class="links__icon links__icon--yandex"
                    href="https://music.yandex.ru/album/6245956"
                    aria-label="Яндекс Музыка"
                ></a>
                <a
                    class="links__icon links__icon--zvuk"
                    href="https://zvuk.com/podcast/12889536"
                    aria-label="Звук"
                ></a>
                <a
                    class="links__icon links__icon--castbox"
                    href="https://castbox.fm/channel/1177814"
                    aria-label="Castbox"
                ></a>
                <a
                    class="links__icon links__icon--youtube"
                    href="https://music.youtube.com/playlist?list=PLMBnwIwFEFHeFmmesCc6SI-5-VKnyrjY6"
                    aria-label="YouTube Music"
                ></a>
                <a
                    class="links__icon links__icon--amazon"
                    href="https://music.amazon.com/podcasts/9d3b7d70-44a6-4aef-adf2-f2cf989884bf"
                    aria-label="Amazon Music"
                ></a>
                <a
                    class="links__icon links__icon--deezer"
                    href="https://www.deezer.com/en/show/1001066322"
                    aria-label="Deezer"
                ></a>
            </dd>
        </div>
        <div class="links__section">
            <dt class="links__definition">Написать в подкаст</dt>
            <dd class="links__description">
                <a class="links__link" href="mailto:podcast@web-standards.ru">
                    podcast@web-standards.ru
                </a>
            </dd>
        </div>
        <div class="links__section">
            <dt class="links__definition">Для всего остального</dt>
            <dd class="links__description">
                <a class="links__link" href="mailto:wst@web-standards.ru">
                    wst@web-standards.ru
                </a>
            </dd>
        </div>
    </dl>
</aside>
