<aside class="links">
    <h2 class="links__title">На связи</h2>
    <dl class="links__list">
        <div>
            <dt>Читате новости и узнавайте о ближайших событиях</dt>
            <dd>
                <a href>ВКонтакте</a>
                <a href>Фейсбук</a>
                <a href>Твиттер</a>
                <a href>Телеграм</a>
            </dd>
        </div>
        <div>
            <dt>Общайтесь и помогайте коллегам</dt>
            <dd>
                <a href>Гитхаб</a>
                <a href>Слак</a>
            </dd>
        </div>
        <div>
            <dt>Смотрите видео выступлений</dt>
            <dd>
                <a href>Ютуб</a>
            </dd>
        </div>
    </dl>
</aside>
