<script>
    // Этот код нужен для предотвращения мерцания светлой/темной темы до загрузки и парсинга CSS
    var storageKey = 'color-scheme';
    var classNameDark = 'page--dark-mode';

    var preferDarkQuery = '(prefers-color-scheme: dark)';
    var colorSchemeMediaQuery = window.matchMedia(preferDarkQuery);
    var supportsColorSchemeQuery = colorSchemeMediaQuery.media === preferDarkQuery;
    var currentMediaQueryColorScheme = colorSchemeMediaQuery.matches;

    function setClassOnDocumentBody(darkMode, persist = false) {
        if (darkMode) {
            document.querySelector('html').classList.add(classNameDark);
        } else {
            document.querySelector('html').classList.remove(classNameDark);
        }

        if (persist) {
            try {
                if (supportsColorSchemeQuery && currentMediaQueryColorScheme === darkMode) {
                    localStorage.removeItem(storageKey);
                } else {
                    localStorage.setItem(storageKey, darkMode ? 'dark' : 'light');
                }
            } catch (e) {}
        }
    }

    colorSchemeMediaQuery.addEventListener('change', (mediaQuery) => {
        setClassOnDocumentBody(mediaQuery.matches);
        currentMediaQueryColorScheme = mediaQuery.matches;
    });

    var localStorageTheme = null;
    try {
        localStorageTheme = localStorage.getItem(storageKey);
    } catch (err) {}
    var localStorageExists = localStorageTheme !== null && ['dark', 'light'].indexOf(localStorageTheme) >= 0;
    if (localStorageExists) {
        localStorageTheme = localStorageTheme === 'dark';
    }

    // Определяем источник правды
    if (localStorageExists) {
        // Источник правды - localStorage
        setClassOnDocumentBody(localStorageTheme);
    } else if (supportsColorSchemeQuery) {
        // source of truth from system
        setClassOnDocumentBody(colorSchemeMediaQuery.matches);
    }
</script>
