<footer class="footer">
    <p class="footer__copy">
        Веб-стандарты, 2006–2019
    </p>
    <ul class="footer__pages">
        <li><a class="footer__link" href="">Статьи</a></li>
        <li><a class="footer__link">Конференция</a></li>
        <li><a class="footer__link">Календарь</a></li>
        <li><a class="footer__link">Подкаст</a></li>
        <li><a class="footer__link" href="">О проекте</a></li>
        <li><a class="footer__link" href="">Поддержать проект</a></li>
    </ul>
    <p class="footer__design">
        Дизайн сайта: <a class="footer__link" href="">Игорь Штанг</a>
    </p>
</footer>
