<footer class="footer">
    <p class="footer__copy">
        Веб-стандарты, 2006–2019
    </p>
    <ul class="footer__links">
        <li><a href>Статьи</a></li>
        <li><a>Конференция</a></li>
        <li><a>Календарь</a></li>
        <li><a>Подкаст</a></li>
        <li><a href>О проекте</a></li>
        <li><a href>Поддержать проект</a></li>
    </ul>
    <p class="footer__design">
        Дизайн сайта: <a href>Игорь Штанг</a>
    </p>
</footer>
