<footer class="footer">
    <p class="footer__copy">
        <span class="footer__organization">Веб-стандарты,</span> 2006–2019
    </p>
    <ul class="footer__pages">
        <li><a class="footer__link" href="/articles/">Статьи</a></li>
        <li><a class="footer__link">Конференция</a></li>
        <li><a class="footer__link">Календарь</a></li>
        <li><a class="footer__link">Подкаст</a></li>
        <li><a class="footer__link">О проекте</a></li>
        <li><a class="footer__link" href="https://www.patreon.com/webstandards_ru">Поддержать проект</a></li>
    </ul>
    <p class="footer__design">
        <span class="footer__design-caption">Дизайн сайта:</span>
        <a class="footer__link" href="https://igorshtang.ru/">Игорь Штанг</a>
    </p>
</footer>
