<link rel="icon" type="image/png" sizes="160x160" href="/images/icons/160.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png">
<link rel="icon" type="image/svg+xml" sizes="any" href="/images/icons/any.svg">
<link rel="apple-touch-icon" href="/images/icons/160.png">
