<main class="main">
    <article>
        <h2>
            <a href="/articles/article/">
                Инклюзивные компоненты: тултипы и тоглтипы
            </a>
        </h2>
        <p>Перевод «Tooltips &amp; Toggletips»</p>
        <footer>
            <p>
                <time>23 июля</time>
                Хейдон Пикеринг
            </p>
        </footer>
    </article>
    <article>
        <h2>
            <a href="/articles/article/">
                Инклюзивные компоненты: переключатели
            </a>
        </h2>
        <p>Перевод «Toggle Buttons»</p>
        <footer>
            <p>
                <time>5 января</time>
                Хейдон Пикеринг
            </p>
        </footer>
    </article>
    <article>
        <h2>
            <a href="/articles/article/">
                Что нового в JavaScript 2019
            </a>
        </h2>
        <footer>
            <p>
                <time>12 марта</time>
                Девид Нил
            </p>
        </footer>
    </article>
    <a href="/articles/">Все статьи</a>
</main>
