{% from "podcast-preview.njk" import PodcastPreview %}

<ul class="podcast-preview-grid podcast-feature-grid">
    {% for episode in filteredPodcasts.featuredEpisodes %}
        <li class="podcast-preview-grid__item podcast-feature-grid__item">
            {{ PodcastPreview({
                isInverse: loop.index === 1,
                hasPlayer: loop.index === 1,
                episode: episode.episode,
                title:  episode.title,
                link: '/podcast/' + episode.episode + '/',
                date: episode.date,
                audio: episode.audio
            }) }}
        </li>
    {% endfor %}
</ul>
