<section class="scheme-switcher" aria-lable="Цветовая тема">
    <button class="scheme-switcher__button" type="button" value="dark" aria-pressed="false" title="Тёмная">
        <svg class="scheme-switcher__icon" aria-hidden="true" width="20" height="20">
            <use href="/images/sprite.svg#moon"></use>
        </svg>
        <span class="visually-hidden">Тёмная</span>
    </button>
    <button class="scheme-switcher__button" type="button" value="auto" aria-pressed="false" title="Системная">
        <svg class="scheme-switcher__icon" aria-hidden="true" width="20" height="20">
            <use href="/images/sprite.svg#duo"></use>
        </svg>
        <span class="visually-hidden">Системная</span>
    </button>
    <button class="scheme-switcher__button" type="button" value="light" aria-pressed="false" title="Светлая">
        <svg class="scheme-switcher__icon" aria-hidden="true" width="20" height="20">
            <use href="/images/sprite.svg#sun"></use>
            <span class="visually-hidden">Светлая</span>
        </svg>
    </button>
</section>
