/* Archive */

.archive__title {
    margin: 0 0 37px;
    font: 400 24px 'Dewi Expanded', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 630px) {
    .archive__title {
        margin: 20px 0 50px;
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .archive__title {
        margin: 53px 0 113px;
        font-size: 48px;
    }
}

.archive__year {
    display: inline-block;
    margin-bottom: 16px;
    font: 700 16px 'Dewi Expanded', sans-serif;
    text-transform: uppercase;
}

@media (min-width: 630px) {
    .archive__year {
        margin-bottom: 20px;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .archive__year {
        margin-bottom: 23px;
        font-size: 24px;
    }
}
