/* Archive */

@media (min-width: 630px) {
    .archive {
        padding: 0 24px;
    }
}

.archive__title {
    margin: 49px 0 66px;
    font-weight: 400;
    font-size: 24px;
    font-stretch: expanded;
    letter-spacing: -0.05em;
    text-align: center;
    text-transform: uppercase;
}

.archive__title-link {
    color: inherit;
}

@media (min-width: 630px) {
    .archive__title {
        margin: 20px 0 67px;
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .archive__title {
        margin: 53px 0 113px;
        font-size: 48px;
    }
}

.archive__year {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 16px;
    font-stretch: expanded;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

@media (min-width: 630px) {
    .archive__year {
        margin-bottom: 16px;
        margin-left: 0;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .archive__year {
        margin-bottom: 23px;
        font-size: 24px;
    }
}

.archive__articles:not(:last-of-type) {
    margin-bottom: 80px;
}

/* Tags */

.archive__tags {
    margin-bottom: 32px;
    text-align: center;
}

@media (min-width: 630px) {
    .archive__tags {
        margin-bottom: 56px;
    }
}

@media (min-width: 1024px) {
    .archive__tags {
        margin-bottom: 72px;
        font-size: 24px;
    }
}

.archive__tags-link {
    color: inherit;
}

.archive__tags-link:not([href]) {
    color: black;
    font-weight: 900;
    font-stretch: expanded;
}

.page--dark-mode .archive__tags-link:not([href]) {
    color: #ffffff;
}
