.article {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

@media (min-width: 1024px) {
    .article {
        font-size: 16px;
    }
}

@media (min-width: 1240px) {
    .article {
        display: grid;
        grid-template-rows: 1fr min-content;
        grid-template-columns: repeat(8, 1fr);
    }
}

.article__heading-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 -8px 16px;
    color: white;
    background-color: var(--color-grey-dark);
}

@media (min-width: 500px) {
    .article__heading-wrapper {
        display: grid;
        grid-template-columns: 6fr 4fr;
        grid-gap: 15px;
        min-height: 200px;
        padding-right: 16px;
    }
}

@media (min-width: 600px) {
    .article__heading-wrapper {
        min-height: 250px;
    }
}

@media (min-width: 1024px) {
    .article__heading-wrapper {
        grid-template-columns: 1fr 1fr;
        margin: 0 0 64px;
        padding-right: 0;
        color: black;
        background-color: transparent;
    }

    .page--dark-mode .article__heading-wrapper {
        color: var(--color-dark-text-primary);
    }
}

@media (min-width: 1240px) {
    .article__heading-wrapper {
        grid-column: 1 / -1;
    }
}

.article__hero {
    display: block;
    align-self: center;
    width: 100%;
    height: auto;
    background-color: var(--color-grey-dark);
}

@media (min-width: 500px) {
    .article__hero {
        width: 100%;
        height: 100%;
    }
}

.article__hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article__hero-image--contain {
    object-fit: contain;
}

.article__heading-wrapper--no-hero::after {
    content: ' ';
    display: block;
    align-self: center;
    width: 320px;
    height: 170px;
    background-image: url('/images/patterns/dots.svg');
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 500px) {
    .article__heading-wrapper--no-hero::after {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

@media (min-width: 1024px) {
    .article__heading-wrapper--no-hero::after {
        background-color: var(--color-grey-dark);
    }
}

@media (min-width: 500px) {
    .article__heading {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .article__heading {
        display: flex;
        flex-direction: column;
        padding: 24px 24px 39px;
        border-top: 1px solid var(--color-grey-medium);
        border-bottom: 1px solid var(--color-grey-medium);
    }

    .page--dark-mode .article__heading {
        border-color: var(--color-dark-divider);
    }
}

.article__title {
    min-height: 3.6em;
    margin: 16px;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

@media (min-width: 500px) {
    .article__title {
        margin-bottom: auto;
    }
}

@media (min-width: 600px) {
    .article__title {
        font-size: 28px;
    }
}

@media (min-width: 900px) {
    .article__title {
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .article__title {
        margin: 0 0 24px;
    }
}

@media (min-width: 1240px) {
    .article__title {
        font-size: 48px;
    }
}

.article__source {
    margin: 0 16px 16px;
}

@media (min-width: 500px) {
    .article__source {
        min-height: 2.6em;
    }
}

@media (min-width: 900px) {
    .article__source {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .article__source {
        margin: 0 0 24px;
        font-size: 21px;
    }
}

.article__link {
    color: white;
}

@media (min-width: 1024px) {
    .article__link {
        color: black;
    }

    .page--dark-mode .article__link {
        color: var(--color-darl-text-primary);
    }
}

@media (hover: hover) and (pointer: fine) {
    .article__link:hover {
        color: var(--color-grey-lighter);
    }
}

@media (min-width: 1024px) {

    @media (hover: hover) and (pointer: fine) {
        .article__link:hover {
            color: var(--color-turquoise);
        }
    }

    .article__link:focus {
        color: var(--color-turquoise);
    }
}

.article__link:focus {
    color: var(--color-grey-lighter);
}

@media (min-width: 1024px) {
    .article__link:focus {
        color: var(--color-turquoise);
    }
}

.article__link:active {
    opacity: 0.5;
}

.article__meta {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px 32px;
}

@media (min-width: 900px) {
    .article__meta {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .article__meta {
        margin: 10% 0 0;
    }
}

.article__date {
    margin-right: 21px;
    color: var(--color-grey-lighter);
}

.page--dark-mode .article__date {
    color: var(--color-dark-text-secondary);
}

.article__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.article__tags-item {
    margin-right: 5px;
    list-style: none;
}

.article__tags-item:last-child {
    margin-right: 0;
}

.article__edit {
    flex-basis: 100%;
    margin: 8px 0 0;
}

.article__creators {
    max-width: 700px;
    margin: 0 auto 48px;
}

@media (min-width: 1240px) {
    .article__creators {
        grid-row: 2 / -1;
        grid-column: 1 / 3;
        max-width: none;
        margin: 0;
    }
}

.article__collaborators {
    margin: 0;
}

@media (min-width: 1240px) {
    .article__content  {
        grid-row: 2 / -1;
        grid-column: 3 / -2;
    }
}
