/* Articles */

.articles__more {
    margin: 0;
    padding-top: 32px;
    text-align: center;
}

.articles__link {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

@media screen and (min-width: 1024px) {
    .articles__more {
        padding-top: 40px;
    }

    .articles__link {
        font-size: 48px;
    }
}
