/* Articles */

.articles {
    padding: 0;
    margin: 0;
    list-style: none;
}

.articles__item {
    padding: 14px 0 16px;
    border-top: 1px solid var(--color-grey-medium);
}

.articles__item:last-of-type {
    border-bottom: 1px solid var(--color-grey-medium);
}

@media (min-width: 1024px) {
    .articles__item {
        min-height: 107px;
        padding: 16px 0;
    }
}

/* Main */

@media (min-width: 800px) {
    .articles--main {
        display: grid;
        grid-auto-rows: min-content;
        grid-template-columns: 1fr 1fr;
    }

    .articles__item--main {
        padding: 16px 40px 32px 24px;
        margin-left: 1px;
        margin-top: 1px;
        box-shadow: 0 0 0 1px var(--color-grey-lighter);
        border: none;
    }

    .articles__item--main:last-of-type {
        border-bottom: none;
    }
}

@media (min-width: 1600px) {
    .articles--main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Articles */

.articles__item--articles,
.articles__item--articles:last-of-type {
    border-color: var(--color-grey-lighter);
}

/* Related */

@media (min-width: 900px) {
    .articles--related {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .articles__item--related {
        padding: 16px 32px 32px 24px;
        margin-left: 1px;
        margin-top: 1px;
        box-shadow: 0 0 0 1px var(--color-grey-lighter);
        border: none;
    }

    .articles__item--related:last-of-type {
        border-bottom: none;
    }
}

/* Featured */

.articles__item--featured {
    display: flex;
    padding: 16px 0 0;
    flex-direction: column;
    background-color: var(--color-grey-dark);
    border-top: none;
}

.articles__item--featured::after {
    content: ' ';
    display: block;
    align-self: center;
    min-width: 320px;
    width: 100%;
    min-height: 170px;
    background-image: url('/images/patterns/dots.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 500px) {
    .articles__item--featured::after {
        min-height: 220px;
    }
}

@media (min-width: 800px) {
    .articles__item--featured {
        grid-row-start: 1;
        grid-row-end: 3;
        box-shadow: 0 0 0 1px var(--color-grey-dark);
        z-index: 1;
    }

    .articles__item--featured::after {
        width: auto;
        align-self: stretch;
        min-height: 170px;
        margin: 0 16px;
    }
}

@media (min-width: 1024px) {
    .articles__item--featured::after {
        min-height: 220px;
    }
}
