.article-card {
    position: relative;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content max-content 1fr;
    grid-template-areas:
        'picture title title'
        'picture date date'
        'picture author author';
    grid-gap: 14px 16px;
    padding: 0 16px;
}

@media (min-width: 460px) {
    .article-card {
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            'picture title title'
            'picture date author';
    }
}

@media (min-width: 800px) {
    .article-card {
        grid-template-rows: 1fr repeat(5, min-content);
        grid-template-columns: 1fr min-content;
        grid-template-areas:
            'title title'
            '. picture'
            '. picture'
            '. picture'
            'date picture'
            'author picture';
        grid-gap: 0;
        height: 100%;
    }
}

.article-card__avatar-container {
    grid-area: picture;
}

.article-card__avatar {
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.article-card__avatar:not(:first-child) {
    margin-top: -32px;
}

@media (min-width: 1024px) {
    .article-card__avatar {
        width: 112px;
        height: 112px;
    }

    .article-card__avatar:not(:first-child) {
        margin-top: -48px;
    }
}

.article-card__title {
    grid-area: title;
    margin: 0;
    font-weight: normal;
    font-size: 21px;
    font-family: 'Dewi', sans-serif;
    line-height: 1.2;
}

@media (min-width: 800px) {
    .article-card__title {
        min-height: 4em;
    }
}

.article-card__link {
    color: var(--color-grey-darker);
    text-decoration: none;
}

.article-card__link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: '';
}

.article-card__meta {
    margin: 0;
}

.article-card__date,
.article-card__author {
    font-size: 14px;
    line-height: 1.3;
}

@media (min-width: 800px) {
    .article-card__date,
    .article-card__author {
        font-size: 16px;
    }

    .article-card__author {
        display: block;
    }
}

.article-card__date {
    grid-area: date;
    color: var(--color-grey-medium);
}

.article-card__date,
.article-card__author-container {
    align-self: baseline;
}

.article-card__author-container {
    grid-area: author;
}

.article-card__author {
    color: var(--color-grey-darker);
    text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
    .article-card__link:hover {
        text-decoration: underline;
    }
}

/* Main */

@media (min-width: 1024px) {
    .article-card__title--main {
        font-size: 32px;
    }
}

/* Articles */

@media (min-width: 800px) {
    .article-card--articles {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr 2fr 7fr;
        grid-template-areas: 'date picture author title';
        align-items: baseline;
        grid-gap: 32px;
    }

    .article-card__avatar--articles {
        align-self: flex-start;
    }
}

@media (min-width: 1024px) {
    .article-card__title--articles {
        font-size: 32px;
    }
}

/* Related-articles */

@media (min-width: 1250px) {
    .article-card__title--related {
        font-size: 32px;
    }

    .article-card__photo--related {
        width: 112px;
        height: 112px;
    }
}

/* Featured */

.article-card--featured {
    display: flex;
    flex-wrap: wrap;
}

.article-card__hero-image--featured {
    width: 100%;
    min-height: 170px;
    max-height: 220px;
    margin-top: 16px;
    object-fit: cover;
}

@media (min-width: 500px) {
    .article-card__hero-image--featured {
        min-height: 220px;
    }
}

@media (min-width: 800px) {
    .article-card__hero-image--featured {
        min-height: 170px;
    }
}

@media (min-width: 1024px) {
    .article-card__hero-image--featured {
        min-height: 220px;
    }
}

.article-card__title--featured {
    width: 100%;
    min-height: auto;
    margin-bottom: 16px;
}

.article-card__link--featured,
.article-card__preview {
    color: white;
}

.article-card__preview {
    width: 100%;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.3;
}

.article-card__author-container--featured,
.article-card__date--featured,
.article-card__hero-image--featured {
    align-self: flex-end;
}

.article-card__date--featured {
    margin-right: 16px;
    color: var(--color-grey-lighter);
}

.article-card__author--featured {
    color: white;
}

@media (min-width: 800px) {
    .article-card__preview {
        min-height: 5em;
    }

    .article-card__author--featured {
        display: inline;
    }
}
