.creators {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
    color: black;
}

@media (min-width: 1024px) {
    .creators {
        font-size: 16px;
        line-height: 1.6;
    }
}

@media (min-width: 1240px) {
    .creators {
        flex-direction: column;
    }
}

.creators__author {
    margin-right: 32px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-grey-darker);
}

@media (min-width: 1240px) {
    .creators__author {
        margin-right: 0;
        margin-bottom: 19px;
    }
}

.creators__author:link {
    text-decoration: none;
}

.creators__author:link:visited {
    color: var(--color-grey-medium);
}

@media (hover: hover) and (pointer: fine) {
    .creators__author:link:hover {
        color: var(--color-turquoise);
        text-decoration: underline;
    }
}

.creators__author:link:active {
    color: var(--color-turquoise);
}

.creators__author-avatar {
    display: none;
}

@media (min-width: 1024px) {
    .creators__author-avatar {
        position: relative;
        top: 2px;
        left: 2px;
        display: block;
        width: 113px;
        height: 113px;
        margin-bottom: 26px;
        object-fit: cover;
    }
}

@media (min-width: 1240px) {
    .creators__author-avatar {
        width: 128px;
        height: 128px;
    }
}

.creators__author-name {
    color: inherit;
    transition: color 0.2s linear;
}

.creators__collaborators {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.creators__collaborators:not(:last-child) {
    margin-right: 32px;
}

@media (min-width: 1240px) {
    .creators__collaborators:not(:last-child) {
        margin-right: 0;
        margin-bottom: 17px;
    }
}

.creators__collaborators-heading {
    font-weight: 600;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
}

.creators__collaborators-link:link {
    color: var(--color-grey-darker);
    letter-spacing: -0.03em;
    transition: color 0.2s linear;
}

.creators__collaborators-link:visited {
    color: var(--color-grey-medium);
}

@media (hover: hover) and (pointer: fine) {
    .creators__collaborators-link:hover {
        color: var(--color-turquoise);
    }
}

.creators__collaborators-link:active {
    color: var(--color-turquoise);
}
