.authors {
    display: flex;
    font-size: 10px;
    line-height: 1.3;
    color: black;
}

.authors__author-avatar {
    display: none;
}

.authors__collaborators {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.authors__author,
.authors__collaborators:not(:last-child) {
    margin-right: 33px;
}

.authors__collaborators-link:link {
    color: var(--color-grey-darker);
    letter-spacing: -0.03em;
}

.authors__collaborators-link:visited {
    color: var(--color-grey-lighter);
}

.authors__collaborators-link:hover,
.authors__collaborators-link:active {
    color: var(--color-turquoise);
}

.authors__author-link:link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-grey-darker);
    transition: color 0.2s linear;
}

.authors__author-link:hover {
    text-decoration: underline;
}

.authors__collaborators-heading {
    font-weight: 600;
    letter-spacing: 0.01em;
}

@media (min-width: 900px) {
    .authors {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .authors {
        align-items: flex-start;
        padding: 0;
    }

    .authors__author {
        display: flex;
        margin-right: 24px;
    }

    .authors__author-avatar {
        display: block;
        margin-right: 39px;
    }

    .authors__author-link,
    .authors__collaborators {
        margin-top: 16px;
        font-size: 16px;
        line-height: 1.6;
    }

    .authors__collaborators-heading {
        letter-spacing: 1%;
    }

    .authors__collaborators-link {
        letter-spacing: -2.5%;
    }
}

@media (min-width: 1240px) {
    .authors {
        flex-direction: column;
    }

    .authors__author {
        flex-direction: column;
    }

    .authors__author-avatar {
        width: 128px;
        height: auto;
        margin-bottom: 26px;
        margin-right: 0;
    }

    .authors__author-link,
    .authors__collaborators {
        margin-top: 0;
    }

    .authors__author,
    .authors__collaborators:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
    }
}
