/* Blob */

.blob {
    contain: strict;
    -webkit-mask-size: cover;
    mask-size: cover;
}

/* Colors */

.blob--color-1 {
    background-color: var(--color-teal);
}

.blob--color-2 {
    background-color: var(--color-lightteal);
}

.blob--color-3 {
    background-color: var(--color-moss);
}

.blob--color-4 {
    background-color: var(--color-grass);
}

/* Crop */

.blob--shape-1 {
    -webkit-mask-image: url('/images/shape/1.svg');
    mask-image: url('/images/shape/1.svg');
}

.blob--shape-2 {
    -webkit-mask-image: url('/images/shape/2.svg');
    mask-image: url('/images/shape/2.svg');
}

.blob--shape-3 {
    -webkit-mask-image: url('/images/shape/3.svg');
    mask-image: url('/images/shape/3.svg');
}

.blob--shape-4 {
    -webkit-mask-image: url('/images/shape/4.svg');
    mask-image: url('/images/shape/4.svg');
}

.blob--shape-5 {
    -webkit-mask-image: url('/images/shape/5.svg');
    mask-image: url('/images/shape/5.svg');
}

.blob--shape-6 {
    -webkit-mask-image: url('/images/shape/6.svg');
    mask-image: url('/images/shape/6.svg');
}

.blob--shape-7 {
    -webkit-mask-image: url('/images/shape/7.svg');
    mask-image: url('/images/shape/7.svg');
}

/* Photo */

.blob__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: soft-light;
    filter:
        grayscale(1)
        brightness(1.1)
        contrast(1.3);
    object-fit: cover;
}
