.conference-link {
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto;
    padding-top: 40px;
    color: black;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    text-decoration: none;
}

@media (width >= 900px) {
    .conference-link {
        font-size: 36px;
        letter-spacing: normal;
    }
}

@media (width >= 1250px) {
    .conference-link {
        padding-top: 0;
        font-size: 48px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .conference-link:hover {
        text-decoration: underline;
    }
}

.conference-link::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 40px;
    height: 24px;
    background-image: url('/images/shout.svg');
    background-repeat: no-repeat;
    background-size: auto 24px;
    transform: translateX(-50%);
    content: '';
}

@media (width >= 1250px) {
    .conference-link::before {
        position: relative;
        top: auto;
        left: auto;
        display: inline-block;
        transform: none;
    }
}
