/* Content */

.content {
    max-width: 700px;
    margin: 0 auto;
    color: black;
    font-size: 16px;
    line-height: 1.7;
}

@media (min-width: 1240px) {
    .content {
        max-width: none;
        margin: 0;
        font-size: 21px;
    }
}

/* Headings */

.content h2,
.content h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Dewi Expanded', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .content h2,
    .content h3 {
        font-size: 18px;
    }
}

@media (min-width: 1240px) {
    .content h2,
    .content h3 {
        margin-top: 60px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .content h2 {
        font-size: 22px;
    }
}

@media (min-width: 1240px) {
    .content h2 {
        font-size: 24px;
    }
}

@media (min-width: 1240px) {
    .content h3 {
        font-size: 20px;
    }
}

.content h2 code,
.content h3 code {
    font-family: inherit;
}

.content h2 .tooltip__button,
.content h3 .tooltip__button {
    opacity: 0.3;
}

.content h2:hover .tooltip__button,
.content h3:hover .tooltip__button {
    opacity: 1;
}

/* Paragraphs */

.content p {
    margin-top: 1em;
    margin-bottom: 0;
}

@media (min-width: 1240px) {
    .content p {
        letter-spacing: 0.03em;
    }
}

.content p:first-child {
    margin-top: 0;
}

/* Links */

.content a:link {
    color: var(--color-blue-darker);
    transition: color 0.2s linear;
}

.content a:visited {
    color: var(--color-grey-medium);
}

@media (hover: hover) and (pointer: fine) {
    .content a:hover {
        color: var(--color-turquoise);
    }
}

.content a:active {
    color: var(--color-turquoise);
}

/* Lists */

.content ol,
.content ul {
    margin-top: 10px;
    margin-bottom: 29px;
    padding-left: 0;
    list-style: none;
}

@media (min-width: 1240px) {
    .content ol,
    .content ul {
        margin-top: 19px;
        margin-bottom: 57px;
    }
}

.content li {
    position: relative;
    margin-top: 16px;
}

/* Unordered Lists */

.content ul > li,
.content ol > li {
    padding-left: 25px;
}

@media (min-width: 1240px) {
    .content ol > li,
    .content ul > li {
        padding-left: 42px;
    }
}

.content ul > li::before {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    color: var(--color-grey-lighter);
    font-size: 16px;
    font-family: 'Dewi Expanded', sans-serif;
    content: '—';
}

@media (min-width: 1240px) {
    .content ul > li::before {
        top: -2px;
        font-size: 21px;
    }
}

/* Ordered Lists */

.content ol {
    counter-reset: list;
}

.content ol > li::before {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-grey-lighter);
    font-size: 16px;
    font-family: 'Dewi Expanded', sans-serif;
    counter-increment: list;
    content: counter(list);
}

@media (min-width: 1240px) {
    .content ol > li::before {
        font-size: 21px;
    }
}

/* Figures */

.content figure {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content figcaption {
    font-size: 0.8em;
}

/* Images */

.content > img,
.content > video,
.content figure > img,
.content figure > video,
.content a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px 0 8px;
}

@media (min-width: 1240px) {
    .content > img,
    .content > video {
        margin: 60px 0 60px auto;
    }
}

/* Quotes */

.content blockquote {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 5px 0;
    padding-left: 14px;
    color: black;
    font-size: 18px;
}

@media (min-width: 600px) {
    .content blockquote {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .content blockquote {
        font-size: 28px;
    }
}

@media (min-width: 1240px) {
    .content blockquote {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 40px;
        font-size: 32px;
    }
}

.content blockquote::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: var(--color-grey-lighter);
    content: '';
}

@media (min-width: 1240px) {
    .content blockquote::before {
        top: 0.5em;
        bottom: 0.5em;
        width: 4px;
    }
}

/* Code */

.content code {
    font-family: 'Rostin', monospace;
    word-wrap: break-word;
}

.content pre {
    position: relative;
    display: grid;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px 16px;
    background-color: var(--color-green-light);
    background-image: linear-gradient(
        to right,
        var(--color-green-light) 0%,
        var(--color-blue-lightest) 100%
    );
}

@media (min-width: 1240px) {
    .content pre {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 36px;
    }
}

.content pre::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 76px;
    background-image: linear-gradient(
        to left,
        var(--color-blue-lightest) 0%,
        var(--color-blue-lightest-0a) 100%
    );
    content: '';
    pointer-events: none;
}

.content pre code {
    display: block;
    padding: 16px 0;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-green-darker-50a) transparent;
    user-select: all;
}

.content pre code:focus {
    animation: code-select 100ms step-end forwards;
}

@keyframes code-select {
    to {
        user-select: text;
    }
}

@media (min-width: 1240px) {
    .content pre code {
        padding: 32px 0;
    }
}

.content pre code::-webkit-scrollbar {
    height: 8px;
}

.content pre code::-webkit-scrollbar-thumb {
    background-color: var(--color-green-darker-50a);
    border-top: 4px solid var(--color-green-light);
}

.content pre:hover code::-webkit-scrollbar-thumb {
    background-color: var(--color-green-darker);
    border-top: none;
    border-radius: 8px;
}

.content pre code::-webkit-scrollbar-thumb:active {
    background-color: var(--color-turquoise);
}

/* Frame */

.content > iframe {
    display: block;
    width: 100%;
    min-height: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 0;
}

/* Letter */

.content > p:first-of-type::first-letter {
    float: left;
    margin-top: 0.13em;
    margin-left: -5px;
    padding-right: 15px;
    color: var(--color-grey-medium);
    font-weight: normal;
    font-size: 3.5em;
    font-family: 'Dewi Expanded', sans-serif;
    line-height: 0.65;
}

/* Tables */

.content__table-wrapper {
    margin-top: 16px;
    margin-bottom: 24px;
    overflow-x: auto;
}

.content table {
    width: 100%;
    border-collapse: collapse;
}

.content table caption {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.content thead {
    background-color: var(--color-green-light);
    background-image: linear-gradient(
        to right,
        var(--color-green-light) 0%,
        var(--color-blue-lightest) 100%
    );
}

.content tr {
    border-bottom: 1px solid var(--color-grey-lighter);
}

.content th,
.content td {
    padding: 16px 0;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
}

.content tr > * + * {
    padding-left: 16px;
}
