/* Content */

.content img {
    max-width: 100%;
    height: auto;
}

.content a:link {
    color: var(--color-blue-darker);
}

.content a:visited {
    color: var(--color-grey-lighter);
}

.content a:hover,
.content a:active {
    color: var(--color-turquoise-medium);
}

@media (min-width: 1240px) {
    .content {
        width: 863px;
        margin-left: auto;
    }
}

@media (min-width: 1500px) {
    .content {
        width: 880px;
    }
}
