/* Content */

.content {
    max-width: 700px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.7;
    color: black;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .content {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .content {
        font-size: 16px;
    }
}

@media (min-width: 1240px) {
    .content {
        max-width: none;
        margin: 0;
        font-size: 21px;
    }
}

.content h2,
.content h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Dewi Expanded', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

@media (min-width: 600px) {
    .content h2,
    .content h3 {
        font-size: 18px;
    }
}

@media (min-width: 1240px) {
    .content h2,
    .content h3 {
        margin-top: 60px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .content h2 {
        font-size: 22px;
    }
}

@media (min-width: 1240px) {
    .content h2 {
        font-size: 24px;
    }
}

@media (min-width: 1240px) {
    .content h3 {
        font-size: 20px;
    }
}

.content h2 code,
.content h3 code {
    /* fixes default monospace font */
    font-family: inherit;
}

.content p {
    margin-top: 1em;
    margin-bottom: 0;
}

@media (min-width: 1240px) {
    .content p {
        letter-spacing: 0.03em;
    }
}

.content p:first-child {
    margin-top: 0;
}

.content a {
    text-decoration: none;
}

@media (min-width: 1240px) {
    .content a {
        text-decoration: underline;
    }
}

.content a:link {
    color: var(--color-blue-darker);
    transition: color 0.2s linear;
}

.content a:visited {
    color: var(--color-grey-lighter);
}

@media (hover: hover) and (pointer: fine) {
    .content a:hover {
        color: var(--color-turquoise);
    }
}

.content a:active {
    color: var(--color-turquoise);
}

/* Lists */

.content ol,
.content ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 29px;
    padding-left: 0;
}

@media (min-width: 1240px) {
    .content ol,
    .content ul {
        margin-top: 19px;
        margin-bottom: 57px;
    }
}

.content li {
    position: relative;
    margin-top: 16px;
}

/* Unordered Lists */

.content ul > li,
.content ol > li {
    padding-left: 25px;
}

@media (min-width: 1240px) {
    .content ol > li,
    .content ul > li {
        padding-left: 42px;
    }
}

.content ul > li::before {
    content: '—';
    position: absolute;
    top: -1px;
    left: 0;
    bottom: 0;
    font-family: 'Dewi Expanded', sans-serif;
    font-size: 12px;
    color: var(--color-grey-lighter);
}

@media (min-width: 600px) {
    .content ul > li::before {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .content ul > li::before {
        font-size: 16px;
    }
}

@media (min-width: 1240px) {
    .content ul > li::before {
        font-size: 21px;
        top: -2px;
    }
}

/* Ordered Lists */

.content ol {
    counter-reset: list;
}

.content ol > li::before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Dewi Expanded', sans-serif;
    font-size: 12px;
    color: var(--color-grey-lighter);
}

@media (min-width: 600px) {
    .content ol > li::before {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .content ol > li::before {
        font-size: 16px;
    }
}

@media (min-width: 1240px) {
    .content ol > li::before {
        font-size: 21px;
    }
}

/*
    Картинки

    Основные стили задаются через блок media
*/

.content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px 0 8px;
}

@media (min-width: 1240px) {
    .content img {
        margin: 60px 0 60px auto;
    }
}

/* Цитаты */

.content blockquote {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 5px 0;
    padding-left: 14px;
    font-size: 18px;
    color: black;
}

@media (min-width: 600px) {
    .content blockquote {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .content blockquote {
        font-size: 28px;
    }
}

@media (min-width: 1240px) {
    .content blockquote {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 40px;
        font-size: 32px;
    }
}

.content blockquote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--color-grey-lighter);
}

@media (min-width: 1240px) {
    .content blockquote::before {
        width: 4px;
        top: 0.5em;
        bottom: 0.5em;
    }
}

/* Код */

.content pre {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 4px 16px;
    background-color: var(--color-green-light);
    background-image: linear-gradient(
        to right,
        var(--color-green-light) 0%,
        var(--color-blue-lightest) 100%
    );
}

@media (min-width: 1240px) {
    .content pre {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 36px;
    }
}

.content pre::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    background-image: linear-gradient(
        to left,
        var(--color-blue-lightest) 0%,
        var(--color-blue-lightest-transparent) 100%
    );
}

.content pre code {
    display: block;
    padding: 16px 0;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-green-darker) transparent;
}

@media (min-width: 1240px) {
    .content pre code {
        padding: 32px 0;
    }
}

.content code::-webkit-scrollbar {
    height: 3px;
}

.content code::-webkit-scrollbar-thumb {
    background-color: var(--color-green-darker);
    border-radius: 24px;
}

.content iframe {
    display: block;
    width: 100%;
    min-height: 400px;
    margin: 0;
    margin-top: 16px;
    border: 0;
}

/* Буквица */

.content > p:first-of-type::first-letter {
    margin-top: -5px;
    margin-left: -5px;
    padding-right: 15px;
    color: var(--color-grey-medium);
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: normal;
    font-size: 3.5em;
    line-height: 1;
    float: left;
}
