.creators {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.creators__cell {
    --creators-breakpoint: 460px;
    flex-grow: 1;
    flex-shrink: 1;

    /* Описание техники:
        - https://www.freecodecamp.org/news/the-fab-four-technique-to-create-responsive-emails-without-media-queries-baf11fdfa848/
        - https://heydonworks.com/article/the-flexbox-holy-albatross/
    */
    flex-basis: calc((var(--creators-breakpoint) - 100%) * 9999);
    margin: 0 16px;
}

.creators__author {
    margin-bottom: 19px;
    color: var(--color-grey-darker);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.creators__author:link {
    transition: color 0.2s linear;
}

.creators__author:link:visited {
    color: var(--color-grey-medium);
}

@media (hover: hover) and (pointer: fine) {
    .creators__author:link:hover {
        color: var(--color-turquoise);
    }
}

.creators__author:link:active {
    color: var(--color-turquoise);
}

.creators__author-avatar {
    position: relative;
    top: 2px;
    left: 2px;
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 26px;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .creators__author-avatar {
        width: 113px;
        height: 113px;
    }
}

@media (min-width: 1240px) {
    .creators__author-avatar {
        width: 128px;
        height: 128px;
    }
}

.creators__author-name {
    color: inherit;
}

.creators__collaborators {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 17px;
}

.creators__collaborators-heading {
    margin-bottom: 4px;
    font-weight: 600;
    letter-spacing: 0.01em;
}

.creators__collaborators-link:link {
    color: var(--color-grey-darker);
    letter-spacing: -0.03em;
    transition: color 0.2s linear;
}

.creators__collaborators-link:visited {
    color: var(--color-grey-medium);
}

.creators__collaborators-link:not(:last-child) {
    margin-bottom: 4px;
}

@media (hover: hover) and (pointer: fine) {
    .creators__collaborators-link:hover {
        color: var(--color-turquoise);
    }
}

.creators__collaborators-link:active {
    color: var(--color-turquoise);
}
