/* Footer */

.footer {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 16px 8px;
    color: var(--color-grey-lighter);
    background-color: var(--color-grey-dark);
}

.page--dark-mode .footer {
    color: var(--color-dark-text-secondary);
    background-color: var(--color-dark-background-footer);
}

@media (min-width: 1024px) {
    .footer {
        padding: 22px 48px 34px;
    }
}

/* Links */

.footer__link {
    color: inherit;
    transition: color 0.2s linear;
}

.footer__link[href]:link {
    color: var(--color-grey-lightest);
}

.page--dark-mode .footer__link[href]:link {
    color: var(--color-dark-text-primary);
}

.footer__link[href]:visited {
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    .footer__link[href]:hover {
        color: white;
    }
}

.footer__link[href]:hover,
.page--dark-mode .footer__link[href]:hover {
    color: var(--color-turquoise);
}

/* Copy */

.footer__copy {
    grid-row: 1 / auto;
    grid-column: 1 / 2;
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

.footer__organization {
    display: block;
    font-weight: bold;
}

@media (min-width: 768px) {
    .footer__organization {
        display: inline;
    }
}

/* Design */

.footer__design {
    grid-column: 1 / 2;
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
}

@media (min-width: 500px) {
    .footer__design {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .footer__design {
        grid-column: 2;
    }
}

.footer__design-caption {
    display: block;
}

@media (min-width: 768px) {
    .footer__design-caption {
        display: inline;
    }
}

/* Pages */

.footer__pages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: max-content;
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    row-gap: 18px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    column-gap: 18px;
    list-style: none;
}

@media (min-width: 500px) {
    .footer__pages {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .footer__pages {
        grid-template-columns: initial;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }
}
