/* Footer */

.footer {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px 16px 24px;
    color: var(--color-grey-lighter);
    font-size: 12px;
    line-height: 1.3;
    background-color: var(--color-grey-dark);
}

@media (min-width: 500px) {
    .footer {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .footer {
        row-gap: 8px;
        padding: 24px 24px 32px;
    }
}

@media (min-width: 1000px) {
    .footer {
        padding: 24px 32px 32px;
    }
}

/* Links */

.footer__link {
    color: inherit;
    transition: color 0.2s linear;
}

.footer__link[href]:link {
    color: white;
}

.footer__link[href]:visited {
    color: var(--color-grey-lightest);
}

@media (hover: hover) and (pointer: fine) {
    .footer__link[href]:hover {
        color: var(--color-grey-lightest);
    }
}

.footer__link[href]:active {
    color: var(--color-turquoise);
}

/* Copy */

.footer__copy {
    grid-row: 1 / auto;
    grid-column: 1 / 2;
    margin: 0;
}

.footer__organization {
    display: block;
    font-weight: bold;
}

@media (min-width: 768px) {
    .footer__organization {
        display: inline;
    }
}

/* Design */

.footer__design {
    grid-column: 1 / 2;
    margin: 0;
}

@media (min-width: 768px) {
    .footer__design {
        grid-column: 2;
    }
}

@media (min-width: 1000px) {
    .footer__design {
        padding: 0 0 0 90px;
    }
}

.footer__design-caption {
    display: block;
}

@media (min-width: 768px) {
    .footer__design-caption {
        display: inline;
    }
}

/* Pages */

.footer__pages {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__page {
    display: block;
    margin: 0 0 16px 0;
}

.footer__page:last-child {
    margin: 0;
}

@media (min-width: 768px) {
    .footer__pages {
        grid-row: 1;
    }

    .footer__page {
        display: inline-block;
        margin: 0 0 8px 0;
        padding: 0 8px 0 0;
    }

    .footer__page:last-child {
        margin: 0 0 8px 0;
    }
}

@media (min-width: 1000px) {
    .footer__pages {
        padding: 0 0 0 90px;
    }
}
