/* Header */

.header {
    display: grid;
    grid-template-columns: auto;
    padding: 16px 8px 0;
    background-color: white;
}

@media (min-width: 769px) {
    .header {
        grid-template-columns: 2fr 1fr 1fr;
        padding: 0 8px;
    }
}

@media (min-width: 1024px) {
    .header {
        grid-template-columns: 3fr 1.1fr 1.1fr;
        padding: 0 64px;
    }
}

/* Logo */

@media (min-width: 769px) {
    .header__logo {
        grid-column: 1 / 2;
    }
}

/* Informer */

@media (min-width: 769px) {
    .header__informer {
        grid-column: 2 / 4;
    }
}
