/* Header */

.header {
    display: grid;
    padding: 16px;
}

@media (min-width: 736px) {
    .header {
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* Logo */

@media (max-width: 735px) {
    .header__logo {
        z-index: 1;
    }
}

@media (min-width: 736px) {
    .header__logo {
        align-self: start;
    }
}

/* Menu */

@media (max-width: 735px) {
    .header__menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

@media (min-width: 736px) {
    .header__menu {
        align-self: center;
    }
}
