/* Header */

.header {
    position: relative;
    display: grid;
    padding: 16px;
}

@media (min-width: 736px) {
    .header {
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        padding-right: 24px;
        padding-bottom: 46px;
        padding-left: 24px;
    }

    .header--index {
        grid-template-rows: auto auto;
        grid-template-columns: 3fr 1fr;
        padding-bottom: 48px;
    }
}

@media (min-width: 1008px) {
    .header {
        padding-right: 32px;
        padding-left: 32px;
    }
}

/* Logo */

.header__logo {
    z-index: 1;
}

@media (min-width: 736px) {
    .header__logo {
        z-index: 1;
        width: fit-content;
    }
}

@media (min-width: 736px) {
    .header__logo {
        align-self: start;
    }

    .header--index .header__logo {
        padding: 16px 0;
    }
}

/* Menu */

.header__menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

@media (min-width: 736px) {
    .header__menu {
        position: relative;
    }
}

@media (min-width: 736px) {
    .header__menu {
        align-self: center;
    }

    .header--index .header__menu {
        grid-row: 1;
        grid-column: 1 / -1;
        padding-bottom: 13px;
        border-bottom: 1px solid var(--color-grey-lighter);
    }
}

@media (max-width: 735px) {
    .header__informers {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}

@media (min-width: 736px) {
    .header__informers {
        margin-top: 18px;
    }
}
