.informer {
    --informer-icon-size: 32px;
    position: relative;
    color: inherit;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
}

@media (max-width: 735px) {
    .informer {
        padding-top: 5px;
        padding-left: calc(var(--informer-icon-size) + 8px);
    }
}

@media (min-width: 736px) {
    .informer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 4px;
        column-gap: 8px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .informer:hover {
        color: var(--color-special-neutral);
    }
}

.informer__icon {
    width: var(--informer-icon-size);
    height: auto;
    aspect-ratio: 1;
}

@media (max-width: 735px) {
    .informer__icon {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 736px) and (max-width: 1007px) {
    .informer {
        --informer-icon-size: 24px;
    }
}

.informer__meta {
    font-weight: 700;
}

@media (max-width: 735px) {
    .informer__meta::after {
        content: '.';
    }
}

@media (min-width: 736px) {
    .informer__meta {
        font-size: 24px;
    }
}

@media (min-width: 1008px) {
    .informer__meta {
        font-size: 36px;
    }
}

@media (min-width: 736px) {
    .informer__title {
        flex: 1 1 100%;
    }
}
