/* Informer */

.informer {
    position: relative;
    overflow-x: hidden;
    margin: 31px 0 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
}

@media (min-width: 375px) {
    .informer {
        margin: 24px 0 0;
        white-space: normal;
    }
}

@media (min-width: 568px) {
    .informer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}

@media (min-width: 1024px) {
    .informer {
        grid-column-gap: 49px;
    }
}

.informer::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(
        to left,
        white, rgba(255, 255, 255, 0)
    );
    content: '';
    pointer-events: none;
}

@media (min-width: 375px) {
    .informer::after {
        display: none;
    }
}

/* Item */

.informer__item {
    padding-left: 40px;
}

@media (min-width: 375px) {
    .informer__item {
        padding-left: 0;
    }
}

@media (min-width: 769px) {
    .informer__item {
        padding-left: 0;
    }
}

.informer__item:not(:last-child) {
    margin-bottom: 18px;
}

@media (min-width: 375px) {
    .informer__item:not(:last-child) {
        margin-bottom: 26px;
    }
}

@media (min-width: 769px) {
    .informer__item:not(:last-child) {
        margin-bottom: 0;
    }
}

/* Link */

.informer__link {
    position: relative;
    display: flex;
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
}

.informer__link:hover,
.informer__link:active {
    color: var(--color-turquoise);
}

.informer__link:hover .informer__icon,
.informer__link:active .informer__icon {
    fill: var(--color-turquoise);
}

@media (min-width: 375px) {
    .informer__link {
        flex-direction: column;
    }
}

/* Meta */

.informer__meta {
    margin-right: 8px;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

@media (min-width: 375px) {
    .informer__meta {
        padding-left: 40px;
        margin-right: 0;
        margin-bottom: 8px;
        font-size: 21px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
}

@media (min-width: 568px) {
    .informer__meta {
        margin-bottom: 8px;
        font-size: 28px;
        letter-spacing: 0.02em;
    }
}

@media (min-width: 1024px) {
    .informer__meta {
        padding-left: 46px;
        font-size: 38px;
    }
}

@media (min-width: 1200px) {
    .informer__meta {
        font-size: 48px;
    }
}

/* Text */

.informer__text {
    margin: 0;
    line-height: 1.5;
}

.informer__text::first-letter {
    text-transform: capitalize;
}

@media (min-width: 375px) {
    .informer__text {
        padding-left: 40px;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: -0.03em;
    }
}

@media (min-width: 568px) {
    .informer__text {
        letter-spacing: normal;
    }
}

@media (min-width: 630px) {
    .informer__text {
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .informer__text {
        padding-left: 0;
    }
}

/* Icon */

.informer__icon {
    position: absolute;
    top: 0;
    left: -40px;
    transition: fill 0.2s linear;
}

@media (min-width: 375px) {
    .informer__icon {
        left: 0;
    }

    .informer__icon--calendar {
        top: 2px;
    }
}

@media (min-width: 568px) {
    .informer__icon,
    .informer__icon--calendar {
        top: 5px;
    }
}

@media (min-width: 1024px) {
    .informer__icon {
        top: 9px;
    }

    .informer__icon--wave {
        width: 38px;
        height: 30px;
    }

    .informer__icon--calendar {
        width: 38px;
        height: 27px;
    }
}

@media (min-width: 1200px) {
    .informer__icon {
        top: 15px;
    }
}

/* Animate */

@keyframes wave-top {
    0% {
        transform: scaleY(1) translateY(0);
    }

    50% {
        transform: scaleY(2) translateY(-100px);
    }

    100% {
        transform: scaleY(1) translateY(0);
    }
}

@keyframes wave-middle {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.5) translateY(200px);
    }

    100% {
        transform: scaleY(1) translateY(0);
    }
}

@keyframes wave-center {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.2) translateY(-30px);
    }

    100% {
        transform: scaleY(1) translateY(0);
    }
}

@keyframes wave-bottom {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2) translateY(-170px);
    }

    100% {
        transform: scaleY(1) translateY(0);
    }
}

@keyframes calendar-top {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-18px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes calendar-bottom {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(9px);
    }

    100% {
        transform: translateX(0);
    }
}

.informer__icon-group {
    transform-origin: center bottom;
    animation-duration: 0.8s;
}

.informer__link:hover .informer__icon--wave-top-left,
.informer__link:hover .informer__icon--wave-top-right {
    animation-name: wave-top;
}

.informer__link:hover .informer__icon--wave-top-middle,
.informer__link:hover .informer__icon--wave-bottom-middle  {
    animation-name: wave-middle;
}

.informer__link:hover .informer__icon--wave-center  {
    animation-name: wave-center;
}

.informer__link:hover .informer__icon--wave-bottom-left,
.informer__link:hover .informer__icon--wave-bottom-right {
    animation-name: wave-bottom;
}

.informer__link:hover .informer__icon--calendar-top  {
    animation-name: calendar-top;
}

.informer__link:hover .informer__icon--calendar-bottom  {
    animation-name: calendar-bottom;
}
