/* Links */

.links {
    display: grid;
    margin-top: -1px;
    padding: 16px 16px 24px;
    background-color: var(--color-grey-lightest);
}

@media (min-width: 568px) {
    .links {
        grid-template-columns: 1fr 320px;
    }
}

@media (min-width: 630px) {
    .links {
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .links {
        grid-template-columns: 1fr 490px;
        padding: 30px 48px;
    }
}

/* Title */

.links__title {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 18px;
    font-stretch: expanded;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .links__title {
        font-size: 24px;
    }
}

/* List */

.links__list {
    margin: 0;
}

/* Section */

.links__section {
    --links-section-padding: 9px;
    --links-section-basis: 162px;
    --links-section-gap: 20px;
    display: grid;
    grid-template-columns: var(--links-section-basis) 1fr;
    column-gap: var(--links-section-gap);
}

.links__section:not(:first-child) {
    padding-block-start: var(--links-section-padding);
}

.links__section:not(:last-child) {
    padding-block-end: var(--links-section-padding);
}

@media (min-width: 1024px) {
    .links__section {
        --links-section-padding: 20px;
        --links-section-basis: 237px;
        --links-section-gap: 30px;
    }
}

.links__section:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-lighter);
}

/* Description */

.links__description {
    order: -1;
    margin: 0;
}

.links__description--icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media (max-width: 1024px) {
    .links__description--icons {
        padding-block-start: 3px;
    }
}

@media (min-width: 1024px) {
    .links__description--icons {
        margin-block-start: -4px;
    }
}

/* Link */

.links__link {
    color: var(--color-special-dark);
    text-decoration: none;
}

.links__link:hover {
    color: var(--color-special-neutral);
}

/* Icon */

.links__icon {
    display: block;
    width: 33px;
    height: 33px;
}

@media (min-width: 1024px) {
    .links__icon {
        width: 48px;
        height: 48px;
    }
}

/* Icons */

.links__icon--apple {
    background-image: url('/images/social/apple.svg');
}

.links__icon--facebook {
    background-image: url('/images/social/facebook.svg');
}

.links__icon--github {
    background-image: url('/images/social/github.svg');
}

.links__icon--google {
    background-image: url('/images/social/google.svg');
}

.links__icon--spotify {
    background-image: url('/images/social/spotify.svg');
}

.links__icon--telegram {
    background-image: url('/images/social/telegram.svg');
}

.links__icon--twitter {
    background-image: url('/images/social/twitter.svg');
}

.links__icon--vk {
    background-image: url('/images/social/vk.svg');
}

.links__icon--yandex {
    background-image: url('/images/social/yandex.svg');
}

.links__icon--youtube {
    background-image: url('/images/social/youtube.svg');
}
