/* Links */

.links {
    margin-top: -1px;
    padding: 16px 16px 24px;
    background-color: var(--color-grey-lightest);
}

@media (min-width: 568px) {
    .links {
        display: flex;
    }
}

@media (min-width: 630px) {
    .links {
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .links {
        padding: 30px 48px;
    }
}

.links__list {
    margin: 0;
}

@media (min-width: 568px) {
    .links__list {
        flex: 0 0 320px;
    }
}

@media (min-width: 1024px) {
    .links__list {
        flex: 0 0 490px;
    }
}

.links__title {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 18px;
    font-stretch: expanded;
    text-transform: uppercase;
}

@media (min-width: 568px) {
    .links__title {
        flex: 1 1 auto;
    }
}

@media (min-width: 1024px) {
    .links__title {
        font-size: 24px;
    }
}

.links__section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 9px 0;
    font-size: 16px;
    font-family: 'Dewi';
}

@media (min-width: 1024px) {
    .links__section {
        padding: 20px 0;
    }
}

@media (min-width: 1024px) {
    .links__section:first-child {
        padding-top: 0;
    }
}

.links__section:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-lighter);
}

.links__definition {
    flex: 1 1 auto;
}

@media (min-width: 1024px) {
    .links__definition {
        flex: 1 1 auto;
    }
}

.links__description {
    display: flex;
    flex: 0 0 172px;
    margin: 0 5px 0 0;
    text-align: left;
}

@media (min-width: 1024px) {
    .links__description {
        flex: 0 0 252px;
        margin-right: 15px;
    }
}

.links__link {
    margin-right: 10px;
}

@media (min-width: 1024px) {
    .links__link {
        margin-right: 15px;
    }
}

.links__link::before {
    content: '';
    display: inline-block;
    width: 33px;
    height: 33px;
}

@media (min-width: 1024px) {
    .links__link::before {
        width: 48px;
        height: 48px;
    }
}

/* Links Icons */

.links__link--vk::before {
    background-image: url('/images/social/vk.svg');
}

.links__link--facebook::before {
    background-image: url('/images/social/facebook.svg');
}

.links__link--twitter::before {
    background-image: url('/images/social/twitter.svg');
}

.links__link--telegram::before {
    background-image: url('/images/social/telegram.svg');
}

.links__link--github::before {
    background-image: url('/images/social/github.svg');
}

.links__link--slack::before {
    background-image: url('/images/social/slack.svg');
}

.links__link--youtube::before {
    background-image: url('/images/social/youtube.svg');
}
