/* Logo */

.logo {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content max-content;
}

@media (min-width: 769px) {
    .logo {
        grid-template-rows: max-content max-content;
    }
}

/* Icon */

.logo__icon {
    height: 40px;
    width: 36px;
    margin-right: 9px;
}

@media (min-width: 769px) {
    .logo__icon {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        height: 64px;
        width: 56px;
    }
}

@media (min-width: 1024px) {
    .logo__icon {
        height: 87px;
        width: 76px;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .logo__icon,
    .page__content--inner .logo__icon {
        height: 40px;
        width: 36px;
    }
}

@media (min-width: 1200px) {
    .page__content--inner .logo__icon {
        height: 64px;
        width: 56px;
    }
}

@media (min-width: 1440px) {
    .page__content--inner .logo__icon {
        height: 87px;
        width: 76px;
    }
}

/* Title */

.logo__title {
    margin: 0;
    font-family: 'Dewi', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    letter-spacing: -0.03em;
}

.logo__title:hover {
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: bold;
}

.logo__link {
    text-decoration: none;
}

@media (min-width: 769px) {
    .logo__title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: normal;
    }
}

@media (min-width: 1024px) {
    .logo__title {
        font-size: 48px;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .logo__title,
    .page__content--inner .logo__title {
        font-size: 20px;
        line-height: 2;
        letter-spacing: -0.03em;
    }
}

@media (min-width: 1200px) {
    .page__content--inner .logo__title {
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: normal;
    }
}

@media (min-width: 1440px) {
    .page__content--inner .logo__title {
        font-size: 48px;
    }
}

/* Link */

.logo__link {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
}

@media (min-width: 769px) {
    .logo__link {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-template-columns: max-content max-content;
    }
}

/* Tagline */

.logo__tagline {
    display: none;
}

@media (min-width: 769px) {
    .logo__tagline {
        display: inline-block;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    .logo__tagline {
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .logo__tagline,
    .page__content--inner .logo__tagline {
        display: none;
    }
}

@media (min-width: 1200px) {
    .page__content--inner .logo__tagline {
        display: inline-block;
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .page__content--inner .logo__tagline {
        font-size: 16px;
    }
}
