/* Logo */

.logo {
    display: flex;
}

@media (min-width: 769px) {
    .logo {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-template-columns: max-content max-content;
    }
}

/* Logotype */

.logo__logotype {
    height: 40px;
    width: 36px;
    margin-right: 9px;
}

@media (min-width: 769px) {
    .logo__logotype {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        height: 64px;
        width: 56px;
    }
}

@media (min-width: 1024px) {
    .logo__logotype {
        height: 87px;
        width: 76px;
    }
}

/* Title */

.logo__title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    letter-spacing: -0.03em;
}

@media (min-width: 769px) {
    .logo__title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: normal;
    }
}

@media (min-width: 1024px) {
    .logo__title {
        font-size: 48px;
    }
}

/* Tagline */

.logo__tagline {
    display: none;
}

@media (min-width: 769px) {
    .logo__tagline {
        display: inline-block;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 0;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    .logo__tagline {
        font-size: 16px;
    }
}
