/* Main */

.main {
    padding: 16px 8px 37px;
    background-color: white;
}

.main__content {
    margin-bottom: 30px;
}

.main__conference-link {
    margin-top: 40px;
}

@media (min-width: 769px) {
    .main {
        padding-top: 64px;
    }
}

@media (min-width: 1024px) {
    .main {
        padding: 100px 64px;
    }

    .main__content {
        margin-bottom: 40px;
    }
}

@media (min-width: 1250px) {
    .main__conference-link {
        margin-top: 60px;
    }
}
