/* Main */

.main__content {
    margin-bottom: 30px;
}

.main__section {
    padding-bottom: 10%;
}

@media (width < 800px) {
    .main__related-articles {
        margin-bottom: -1px;
    }
}

@media (800px <= width < 1024px) {
    .main__related-articles {
        margin-bottom: 100px;
    }
}

@media (min-width: 800px) {
    .main__section {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.main__conference-link {
    margin-top: 40px;
}

@media (min-width: 1024px) {
    .main {
        padding: 100px 64px;
    }

    .main__content {
        margin-bottom: 40px;
    }
}

@media (min-width: 1250px) {
    .main__conference-link {
        margin-top: 60px;
    }
}
