/* Main */

.main {
    /* padding: 16px 8px 37px; */
    background-color: white;
}

.main__content {
    margin-bottom: 30px;
}

.main__section {
    padding-bottom: 10%;
}

@media (min-width: 800px) {
    .main__section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.main__conference-link {
    margin-top: 40px;
}

@media (min-width: 1024px) {
    .main {
        padding: 100px 64px;
    }

    .main__content {
        margin-bottom: 40px;
    }
}

@media (min-width: 1250px) {
    .main__conference-link {
        margin-top: 60px;
    }
}
