/* Menu */

@media (max-width: 735px) {
    .menu {
        display: grid;
    }
}

/* Button */

@media (max-width: 735px) {
    .menu__button {
        z-index: 1;
        display: block;
        justify-self: end;
        margin: 0;
        margin-top: 24px;
        margin-right: 16px;
        padding: 0;
        background-color: transparent;
        border: none;
    }
}

@media (min-width: 736px) {
    .menu__button {
        display: none;
    }
}

/* Icon */

@media (max-width: 735px) {
    .menu__icon {
        display: block;
        stroke: black;
    }

    .page--dark-mode .menu__icon {
        stroke: var(--color-dark-text-header);
    }

    .menu__icon:hover {
        stroke: var(--color-special-neutral);
    }

    .menu__icon-menu,
    .menu__button--open .menu__icon-cross {
        display: block;
    }

    .menu__icon-cross,
    .menu__button--open .menu__icon-menu {
        display: none;
    }
}

/* List */

.menu__list {
    margin: 0;
    padding: 0;
    font-size: 12px;
    list-style: none;
}

@media (max-width: 735px) {
    .menu__list {
        display: none;
        row-gap: 12px;
        margin-top: 14px;
        padding-bottom: 26px;
        padding-left: 64px;
        background-color: white;
    }

    .page--dark-mode .menu__list {
        background-color: var(--color-dark-background);
    }

    .menu__list--open {
        position: relative;
        z-index: 3;
        display: grid;
    }

    .menu__list--open::after {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(
            to bottom,
            var(--color-special-dark-10a),
            transparent
        );
        content: '';
    }
}

@media (min-width: 736px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 8px;
    }

    .menu--index .menu__list {
        display: flex;
        line-height: 1.5;
    }
}

/* Item */

.menu__item {
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

@media (min-width: 736px) {
    .menu--index .menu__item--patreon {
        margin-left: auto;
    }
}

/* Color Scheme Switcher */

.scheme-switcher__button {
    margin-top: 2px;
    padding: 4px;
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scheme-switcher__button:hover {
    background-color: var(--color-grey-lightest);
}

.page--dark-mode .scheme-switcher__button:hover {
    background-color: var(--color-dark-divider);
}

.scheme-switcher__button svg {
    display: block;
}

.scheme-switcher__icon {
    fill: var(--color-dark-text-secondary);
}

.scheme-switcher__icon-moon {
    display: none;
}

.page--dark-mode .scheme-switcher__icon-moon {
    display: block;
}

.page--dark-mode .scheme-switcher__icon-sun {
    display: none;
}

/* Link */

.menu__link {
    color: var(--color-special-dark);
}

.menu__link[href]:hover {
    color: var(--color-special-neutral);
}

.menu__link--current {
    color: black;
    font-weight: bold;
    font-family: 'Dewi Expanded', sans-serif;
    text-decoration: none;
}

.page--dark-mode .menu__link--current {
    color: var(--color-dark-text-header);
}

.menu__link--inactive {
    color: var(--color-grey-medium);
}

.page--dark-mode .menu__link--inactive {
    color: var(--color-dark-text-secondary);
}

.menu__link--patreon {
    padding-left: 18px;
}

.menu__link--patreon::before {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -18px;
    content: url('../../images/patreon.svg');
}

@media (max-width: 735px) {
    .menu__link--patreon {
        margin-left: -18px;
    }
}
