/* Navigation */

/* Logo */

.navigation__logo {
    position: fixed;
    z-index: -1;
    height: 80px;
    width: 100%;
    padding: 16px 0 0 8px;
    background-color: #f2f7fa;
}

@media (min-width: 769px) {
    .navigation__logo {
        display: none;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__logo {
        display: grid;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner .navigation__logo {
        display: none;
    }
}

/* Bar */

.navigation__bar {
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
}

@media (min-width: 769px) {
    .navigation__bar {
        position: static;
        display: block;
        margin-bottom: 25px;
        padding: 0 8px;
    }
}

@media (min-width: 1024px) {
    .navigation__bar {
        padding: 0 64px;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__bar {
        position: absolute;
        display: flex;
        margin-bottom: 0;
        padding: 0 8px 0 0;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner .navigation__bar {
        position: static;
        justify-content: flex-end;
        padding: 25px 64px 0 0;
    }
}

@media (min-width: 1200px) {
    .page__navigation--inner .navigation__bar {
        padding: 35px 64px 0 0;
    }
}

@media (min-width: 1440px) {
    .page__navigation--inner .navigation__bar {
        padding: 45px 64px 0 0;
    }
}

/* Button */

.navigation__button {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 14px;
    width: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
}

@media (min-width: 769px) {
    .navigation__button {
        display: none;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__button {
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner .navigation__button {
        display: none;
    }
}

.navigation__inner {
    display: block;
    margin-top: -1px;
}

.navigation__inner,
.navigation__inner::before,
.navigation__inner::after {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: black;
    transition: transform 0.1s linear;
}

.navigation__inner::before {
    top: -6px;
    display: block;
    transition: top 0.1s 0.2s linear;
    content: '';
}

.navigation__inner::after {
    bottom: -6px;
    display: block;
    transition: bottom 0.1s 0.2s linear, transform 0.1s linear;
    content: '';
}

.navigation__button--active .navigation__inner {
    transform: rotate(45deg);
    transition: transform 0.1s 0.2s linear;
}

.navigation__button--active .navigation__inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s linear, opacity 0.1s 0.2s linear;
}

.navigation__button--active .navigation__inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s linear, transform 0.1s 0.2s linear;
}

/* Menu */

.navigation__menu {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 80px);
    width: 213px;
    margin: 0;
    padding: 10px 0 20px 16px;
    background-color: #f2f7fa;
    list-style: none;
}

@media (min-width: 769px) {
    .navigation__menu {
        position: static;
        z-index: 0;
        flex-direction: row;
        overflow-y: visible;
        height: auto;
        width: auto;
        padding: 26px 0;
        background-color: transparent;
        border-bottom: 1px solid #8e8e8e;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__menu {
        position: fixed;
        z-index: -1;
        flex-direction: column;
        overflow-y: auto;
        height: calc(100% - 80px);
        width: 213px;
        padding: 10px 0 20px 16px;
        background-color: #f2f7fa;
        border-bottom: none;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner .navigation__menu {
        position: static;
        z-index: 0;
        flex-direction: row;
        overflow-y: visible;
        height: auto;
        width: auto;
        padding: 0;
        background-color: transparent;
    }
}

.navigation__menu::before {
    position: fixed;
    top: 116px;
    bottom: 0;
    left: 200px;
    height: calc(100% - 116px);
    width: 10px;
    background-image: linear-gradient(
        to left,
        #273238, rgba(39, 50, 56, 0)
    );
    filter: blur(36px);
    content: '';
}

@media (min-width: 769px) {
    .navigation__menu::before {
        display: none;
    }
}

/* Item */

.navigation__item {
    margin-bottom: 50px;
}

@media (min-width: 769px) {
    .navigation__item {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.navigation__item--patreon {
    margin: auto 0 0;
}

@media (min-width: 769px) {
    .navigation__item--patreon {
        margin: 0 0 0 auto;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__item {
        margin-bottom: 50px;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner .navigation__item {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__item--patreon {
        margin: auto 0 0;
    }
}

@media (min-width: 1024) {
    .page__navigation--inner .navigation__item--patreon {
        margin: 0;
    }
}

/* Link */

.navigation__link {
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-grey-lighter);
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .navigation__link {
        font-size: 16px;
    }
}

@media (min-width: 769px) {
    .page__navigation--inner .navigation__link {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .page__navigation--inner .navigation__link {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .page__navigation--inner .navigation__link {
        font-size: 16px;
    }
}

.navigation__link--patreon {
    padding: 4px 0 4px 33px;
    letter-spacing: -0.01em;
    background-image: url('/images/patreon.svg');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 27px 27px;
}

@media (min-width: 769px) {
    .navigation__link--patreon {
        letter-spacing: 0.05em;
    }
}

.navigation__link[href] {
    color: black;
}

.navigation__link[href]:hover {
    color: var(--color-turquoise-medium);
}

.navigation__link[href]:visited {
    color: black;
}

.navigation__link--active[href] {
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: 700;
}
