/* Page */

.page,
.page__body {
    height: 100%;
}

.page {
    font-family: 'Dewi', sans-serif;
    color: black;
    background-color: white;
}

.page__body {
    display: grid;
    grid-template-rows:
        min-content
        min-content;
    max-width: 1920px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .page__body--active {
        position: fixed;
    }
}

@media (max-width: 1024px) {
    .page__body--inner.page__body--active {
        position: fixed;
    }
}

@media (min-width: 1024px) {
    .page__navigation--inner {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

.page__content {
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content
        min-content;
    overflow: hidden;
    transition: transform 0.2s linear;
}

@media (min-width: 1024px) {
    .page__content--inner {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
}

@media (max-width: 768px) {
    .page__content--active {
        position: relative;
        border-top-left-radius: 14px;
        box-shadow: 0 -10px #f2f7fa;
        transform: translate(213px, 80px);
        pointer-events: none;
    }
}

@media (max-width: 1024px) {
    .page__content--inner.page__content--active {
        position: relative;
        border-top-left-radius: 14px;
        box-shadow: 0 -10px #f2f7fa;
        transform: translate(213px, 80px);
        pointer-events: none;
    }
}
