/* Page */

.page,
.page__body {
    height: 100%;
    overflow-x: hidden;
}

.page {
    background-color: white;
    color: black;
    font-family: 'Dewi', sans-serif;
}

/* Body */

.page__body {
    display: grid;
    grid-template-rows:
        min-content
        1fr
        min-content
        min-content;
    margin: 0 auto;
    max-width: 1920px;
}
