/* Page */

.page,
.page__body {
    height: 100%;
}

.page {
    container-type: inline-size;
    color: var(--token-color-text-primary);
    font-family: 'Dewi', sans-serif;
    background-color: var(--token-color-background-primary);
    scroll-behavior: smooth;
}

.page__body {
    --scrollbar-size: calc(100vw - 100cqw);
    max-width: 1920px;
    margin: 0 auto;
}
