.pagination {
    font-size: 20px;
}

@media (min-width: 1024px) {
    .pagination {
        font-size: 24px;
    }
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 590px) {
    .pagination__list {
        justify-content: center;
    }
}

.pagination__item--divider {
    padding: 12px;
}

.pagination__item--previous,
.pagination__item--next {
    padding-inline: 17px;
}

@media (max-width: 680px) {
    .pagination__item:not(.pagination__item--previous, .pagination__item--next) {
        display: none;
    }
}

.pagination__link {
    display: block;
    padding: 12px 16px;
    color: inherit;
}

.pagination__link[aria-current] {
    color: black;
    font-weight: 900;
    font-stretch: expanded;
    text-decoration: none;
    background-color: var(--color-grey-lightest);
}

@media (hover: hover) and (pointer: fine) {
    .pagination__link:not([aria-current]):hover {
        color: var(--color-special-neutral);
        text-decoration: none;
    }
}
