.player {
    display: grid;
    grid-template-columns:
        min-content
        1fr;
    align-items: center;
    width: 100%;
    height: 40px;
    column-gap: 12px;
}

.player__buttons {
    display: flex;
}

.player__rewind {
    width: 40px;
    height: 40px;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.player__icon {
    display: block;
    margin: auto;
    fill: currentcolor;
}

.player__audio {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    filter: drop-shadow(
        2px 2px 4px rgba(0, 0, 0, 0.2)
    );
}
