.podcast-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: var(--token-color-podcast-preview-text);
    background-color: var(--token-color-podcast-preview-background);
    border: 1px solid var(--token-color-podcast-preview-border);
}

@media (min-width: 540px) {
    .podcast-preview {
        padding: 32px;
    }
}

.podcast-preview__title {
    margin: 0;
    font-weight: normal;
    font-size: 21px;
    font-family: 'Dewi', sans-serif;
    line-height: 1.2;
}

@media (min-width: 540px) {
    .podcast-preview__title {
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .podcast-preview__title {
        font-size: 32px;
    }
}

.podcast-preview__link {
    color: inherit;
    text-decoration: none;
}

.podcast-preview__link::after {
    content: '';
    position: absolute;
    inset: -1px;
    z-index: 1;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.podcast-preview__link:hover::after {
    border-color: var(--token-color-podcast-preview-link-hover);
}

.podcast-preview__date {
    margin-top: auto;
    padding-top: 24px;
    color: var(--token-color-podcast-preview-meta);
}

.podcast-preview__number {
    display: block;
    margin-bottom: 8px;
    color: var(--token-color-podcast-preview-meta);
    font-stretch: expanded;
    text-transform: uppercase;
}

.podcast-preview--inverse {
    --token-color-podcast-preview-text: #ffffff;
    --token-color-podcast-preview-meta: var(--color-grey-lighter);
    --token-color-podcast-preview-background: var(--color-grey-dark);
    --token-color-podcast-preview-border: var(--color-grey-dark);
}
