.podcast-preview-grid {
    margin: 0;
    padding: 1px 0 0 1px;
    display: flex;
    flex-wrap: wrap;
}

.podcast-preview-grid__item {
    margin: -1px 0 0 -1px;
    flex: 1 1 420px;
    display: grid;
}
