.podcast-page {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.podcast-page__title {
    margin-bottom: 20px;
}

.podcast-page__desc {
    margin-bottom: 24px;
    color: var(--color-grey-light);
    font-size: 16px;
    text-align: center;
}

.podcast-page__content {
    margin-bottom: 24px;
}

@media (min-width: 1024px) {
    .podcast-page__desc {
        margin-bottom: 48px;
        font-size: 21px;
    }

    .podcast-page__content {
        margin-bottom: 48px;
    }
}

.podcast-page__notice {
    margin-top: 10%;
}
