.podcast-feature-grid__item:first-child {
    flex-basis: 100%;
}

@media (min-width: 1280px) {
    .podcast-feature-grid__item {
        flex-basis: calc(50% - 2px);
    }
}

@media (min-width: 1440px) {
    .podcast-feature-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .podcast-feature-grid__item:first-child {
        grid-row: 1 / 3;
    }
}
