.podcasts-block {
    padding-right: 16px;
    padding-left: 16px;
}

@media (min-width: 736px) {
    .podcasts-block {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (min-width: 1008px) {
    .podcasts-block {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1024px) {
    .podcasts-block {
        margin-right: -64px;
        margin-left: -64px;
    }
}

.podcasts-block__title {
    margin: 16px 0;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

@media (min-width: 580px) {
    .podcasts-block__title {
        margin: 24px 0;
        font-size: 26px;
    }
}

@media (min-width: 1024px) {
    .podcasts-block__title {
        font-size: 32px;
    }
}
