/* Preview */

.preview {
    display: grid;
    grid: repeat(2, min-content) / 80px 61px 1fr;
    grid-gap: 0 16px;
    padding: 16px 0 49px;
    border-top: 1px solid var(--color-grey-lighter);
}

@media (min-width: 630px) {
    .preview {
        grid-template-columns: 100px 200px 1fr;
    }
}

@media (min-width: 630px) {
    .preview {
        grid-gap: 0 25px;
    }
}

@media (min-width: 1024px) {
    .preview {
        grid: 1fr / 120px 100px 200px 1fr;
    }
}

@media (min-width: 1440px) {
    .preview {
        grid-template-columns: 266px 113px 264px 1fr;
        grid-gap: 39px;
        padding: 15px 0 47px;
    }
}

.preview:last-of-type {
    border-bottom: 1px solid var(--color-grey-lighter);
}

.preview__date {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 12px;
    color: var(--color-grey-light);
    letter-spacing: -0.03em;
}

@media (min-width: 630px) {
    .preview__date {
        font-size: 14px;
        letter-spacing: normal;
    }
}

@media (min-width: 768px) {
    .preview__date {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .preview__date {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 15px;
    }
}

.preview__photo {
    height: auto;
    width: 80px;
}

@media (min-width: 630px) {
    .preview__photo {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .preview__photo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

@media (min-width: 1440px) {
    .preview__photo {
        width: 113px;
    }
}

.preview__author {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 0;
}

@media (min-width: 1024px) {
    .preview__author {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-top: 16px;
    }
}

.preview__name {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-grey-darker);
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

@media (min-width: 630px) {
    .preview__name {
        font-size: 14px;
        letter-spacing: normal;
    }
}

@media (min-width: 768px) {
    .preview__name {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .preview__name {
        letter-spacing: 0.05em;
    }
}

.preview__wrapper {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin: 0 0 15px;
}

@media (min-width: 1024px) {
    .preview__wrapper {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        margin: 1px 0 0;
    }
}

.preview__title {
    font-size: 21px;
    color: var(--color-grey-darker);
    text-decoration: none;
}

@media (min-width: 630px) {
    .preview__title {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .preview__title {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .preview__title {
        font-size: 32px;
    }
}
