.related-articles {
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 1240px) {
    .related-articles {
        max-width: none;
        margin: 0;
    }
}

.related-articles__title {
    margin: 0 0 16px;
    font-size: 16px;
    font-family: 'Dewi Expanded', sans-serif;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

@media (min-width: 1250px) {
    .related-articles__title {
        margin-bottom: 32px;
        font-size: 24px;
    }
}
