---
title: Веб-стандарты — Статьи
subtitle: Авторские и переводные статьи по фронтенду
author:
    name: Веб-стандарты
    email: wst@web-standards.ru
url: https://web-standards.ru/articles
domain: https://web-standards.ru
permalink: articles/feed/index.xml
---
{% set lastArticle = collections.articles | last %}
{% set anchors = r/<span class="tooltip">.*span>/g %}
<feed>
    <title>{{ title }}</title>
    <subtitle>{{ subtitle }}</subtitle>
    <link href="{{ url }}/feed/" rel="self"/>
    <link href="{{ url }}/"/>
    <updated>{{ lastArticle.date.toUTCString() }}</updated>
    <id>{{ url }}/</id>
    <author>
        <name>{{ author.name }}</name>
        <email>{{ author.email }}</email>
    </author>
    {%- for article in collections.articles | reverse  %}
        <entry>
            <title>{{ article.data.title }}</title>
            <link href="{{ domain }}{{ article.url }}"/>
            <updated>{{ article.date.toUTCString() }}</updated>
            <id>{{ domain }}{{ article.url }}</id>
            <content type="html">
                {{ article | fixLinks | replace(anchors, "") | safe }}
            </content>
        </entry>
    {%- endfor %}
</feed>
