---
title: Веб-стандарты — Статьи
description: Авторские и переводные статьи по фронтенду
language: ru
url: https://web-standards.ru/articles
domain: https://web-standards.ru
permalink: articles/feed/index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>{{ title }}</title>
        <description>{{ description }}</description>
        <language>{{ language }}</language>
        <link>{{ url }}/</link>

        {% set lastArticle = collections.articles | last %}
        <lastBuildDate>{{ lastArticle.date.toUTCString() }}</lastBuildDate>

        <atom:link href="{{ url }}/feed/" rel="self" type="application/rss+xml"/>

        {% set anchors = r/<span class="tooltip">.*span>/g %}

        {%- for article in collections.articles | reverse  %}
            <item>
                <title>{{ article.data.title }}</title>
                <link>{{ domain }}{{ article.url }}</link>
                <description>
                    <![CDATA[
                        {{ article | fixLinks | replace(anchors, "") | safe }}
                    ]]>
                </description>
                <pubDate>{{ article.date.toUTCString() }}</pubDate>
                <guid>{{ domain }}{{ article.url }}</guid>
            </item>
        {%- endfor %}

    </channel>
</rss>
