:root {
    --token-color-text-primary: var(--color-dark-text-primary);
    --token-color-background-primary: var(--color-dark-background);

    --token-color-logo-tagline: var(--color-dark-text-primary);

    --token-color-links-background: var(--color-dark-background-social);
    --token-color-links-divider: var(--color-dark-divider);

    --token-color-menu-button: var(--color-dark-text-header);
    --token-color-menu-list-background: var(--color-dark-background);
    --token-color-menu-link: var(--color-dark-text-link);
    --token-color-menu-link-current: var(--color-dark-text-header);

    --token-color-scheme-switcher-hover: var(--color-dark-divider);

    --token-color-header-index-border: var(--color-dark-divider);

    --token-color-footer-text: var(--color-dark-text-secondary);
    --token-color-footer-background: var(--color-dark-background-footer);
    --token-color-footer-link: var(--color-dark-text-primary);

    --token-color-archive-tag-current: inherit;

    --token-color-podcast-header-border: var(--color-dark-divider);
    --token-color-podcast-timecode-link: var(--color-dark-text-link);

    --token-color-podcast-preview-text: var(--color-dark-text-primary);
    --token-color-podcast-preview-background: transparent;
    --token-color-podcast-preview-meta: var(--color-dark-text-secondary);
    --token-color-podcast-preview-border: var(--color-dark-divider);
    --token-color-podcast-preview-link-hover: var(--color-blue-light);

    --token-color-article-card-link: var(--color-dark-text-primary);
    --token-color-article-card-date: var(--color-dark-text-secondary);
    --token-color-article-card-author: var(--color-dark-text-primary);

    --token-color-articles-item-border-color: var(--color-dark-divider);
    --token-color-articles-item-featured-backgound: var(--color-dark-background-featured-article);

    --token-color-article-heading-border: var(--color-dark-divider);
    --token-color-article-date: var(--color-dark-text-secondary);

    --token-color-creators-author: var(--color-dark-text-secondary);
    --token-color-creators-author-visited: var(--color-dark-text-link-visited);

    --token-color-content-text: var(--color-dark-text-content);
    --token-color-content-heading: var(--color-dark-text-primary);
    --token-color-content-link: var(--color-dark-text-link);
    --token-color-content-link-visited: var(--color-dark-text-link-visited);
    --token-color-content-blockquote-text: var(--color-dark-text-content);
    --token-color-content-blockquote-border: #4d5466;
    --token-color-content-first-letter: var(--color-dark-text-primary);
    --token-color-content-table-border: #4d5466;
    --token-color-content-table-head: #2a3443;
    --token-color-content-table-head-gradient: var(--token-color-content-table-head) 0 0;
    --token-color-content-inline-code-background: var(--color-dark-background-code);
    --token-color-content-block-code-background: var(--color-dark-background-code);
    --token-color-content-block-code-gradient: var(--color-dark-background-code) 0 0;
    --token-color-content-block-code-fade: var(--color-dark-background-code), var(--color-dark-background-code-0a);
    --token-color-content-block-code-scrollbar: var(--color-dark-background-code-scrollbar);

    --is-light-theme: 0;
    --is-dark-theme: 1;
    color-scheme: dark;
}
