/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/page.css';
@import 'blocks/header.css';
@import 'blocks/logo.css';
@import 'blocks/navigation.css';
@import 'blocks/informer.css';
@import 'blocks/main.css';
@import 'blocks/links.css';
@import 'blocks/footer.css';

/* Globals */

:root {
    --color-grey-dark: #273238;
    --color-grey-medium: #696969;
    --color-grey-light: #e9eaeb;
    --color-blue-dark: #0064a4;
    --color-blue-light: #dff3f4;
    --color-text-grey-light: #b1b3b6;
}
