@charset 'utf-8';

/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/box-sizing.css';
@import 'blocks/visually-hidden.css';
@import 'blocks/page.css';
@import 'blocks/header.css';
@import 'blocks/logo.css';
@import 'blocks/menu.css';
@import 'blocks/articles.css';
@import 'blocks/archive.css';
@import 'blocks/notice.css';
@import 'blocks/main.css';
@import 'blocks/content.css';
@import 'blocks/media.css';
@import 'blocks/links.css';
@import 'blocks/footer.css';
@import 'blocks/article.css';
@import 'blocks/creators.css';
@import 'blocks/blob.css';
@import 'blocks/related-articles.css';
@import 'blocks/article-card.css';
@import 'blocks/conference-link.css';
@import 'blocks/video.css';
@import 'blocks/tooltip.css';
@import 'blocks/not-found.css';
@import 'blocks/player.css';
@import 'blocks/podcast.css';
@import 'blocks/podcast-preview.css';
@import 'blocks/podcast-preview-grid.css';
@import 'blocks/podcast-feature-grid.css';
@import 'blocks/podcasts-block.css';
@import 'blocks/podcast-page.css';
@import 'blocks/informer.css';
@import 'blocks/pagination.css';

/* Globals */

:root {
    --color-grey-lightest: #e9eaeb;
    --color-grey-lighter: #b1b3b6;
    --color-grey-light: #828282;
    --color-grey-medium: #696969;
    --color-grey-dark: #273238;
    --color-grey-darker: #333333;

    --color-blue-lightest: #def3f6;
    --color-blue-lightest-0a: #def3f600;
    --color-blue-light: #32adfd;
    --color-blue-medium: #377db3;
    --color-blue-darker: #0064a4;

    --color-green-light: #ddf2ea;
    --color-green-darker: #a3cfd1;
    --color-green-darker-50a: #a3cfd180;

    --color-teal: #33779d;
    --color-lightteal: #42abb4;
    --color-turquoise: #00abbd;
    --color-moss: #69bb72;
    --color-grass: #95d445;

    --color-special-neutral: #61afb4;
    --color-special-dark-10a: #3b83ba1a;
    --color-special-dark: #3b84bb;
}
