.page {
	display: grid;
	min-block-size: 100%;
	font-size: 20px;
	line-height: 1.6;
}

.page__body {
	box-sizing: border-box;
	display: grid;
	min-block-size: 100%;
	margin: 0;
	padding: 16px;
}

.test {
	--my-color: hsl(250deg 66% 58%);

	inline-size: 100px;
	block-size: 100px;
}

.test--bg_shorthand.test--url_inside {
	background: var(--my-image);
}

.test--bg_shorthand.test--url_beside {
	background: url("./foo.svg") var(--my-color);
}

.test--bg_shorthand.test--url_outside {
	background:
		url("./foo.svg"),
		linear-gradient(var(--my-color), var(--my-color));
}

.test--bg_longhand.test--url_inside {
	background-image: var(--my-image);
}

.test--bg_longhand.test--url_outside {
	background-image:
		url("./foo.svg"),
		linear-gradient(var(--my-color), var(--my-color));
}
