---
title: Статьи
layout: page.njk
permalink: articles/index.html
---

{% include 'header.njk' %}

<main class="main">
    {{ content | safe }}

    <div class="archive">
        <h1 class="archive__title">Статьи</h1>
        <time class="archive__year">2019</time>
    </div>

    {% set articleType %}{{ '--articles' }}{% endset %}

    <ul class="articles articles{{ articleType }}">
        {%- for article in collections.article | reverse -%}
            <li class="articles__item articles__item{{ articleType }}">
                {% include 'article-card.njk' %}
            </li>
        {%- endfor -%}
    </ul>

    <p class="notice">
        <a class="notice__link notice__link--shout" href="">
            12 мая конференция в Москве
        </a>
    </p>
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
