---
title: Выпуски подкаста
layout: page.njk
pagination:
    data: collections.episode
    size: 1
    alias: episode
permalink: 'podcast/episodes/{{ episode.fileSlug }}/index.html'
---

<main class="main">
    <article class="podcast">
        <header class="podcast__header">
            <span class="podcast__number">Выпуск {{ episode.fileSlug }}</span>
            <time class="podcast__date" datetime="{{ episode.data.date | isoDate }}">
                {{ episode.data.date | ruDate }}
            </time>
            <h1 class="article__title podcast__title">
                {{ episode.data.title }}
            </h1>
            <section class="podcast__hosts">
                <h2 class="podcast__hosts-heading">Ведущие:</h2>
                <ul class="podcast__hosts-list">
                    {% for host in episode.data.hosts %}
                        <li class="podcast__host">{{ host }}</li>
                    {% endfor %}
                </ul>
            </section>
        </header>

        <audio
            class="podcast__player"
            src="https://web-standards.ru/podcast/episodes/{{episode.fileSlug}}.mp3"
            controls
            preload="metadata"
        ></audio>

        <section class="podcast__timeline">
            <h2 class="podcast__timeline-heading">Таймкоды подкаста:</h2>
            <ul class="podcast__timeline-chapters">
                {% for chapter in episode.data.chapters %}
                    <li class="podcast__timeline-chapter">
                        <button class="podcast__timeline-button" type="button" name="timecode" value="{{chapter.time | timecode}}">{{chapter.time}}</button>
                        <span>{{ chapter.title}}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <div class="podcast__content content">
            {{ episode.templateContent | safe }}
        </div>
    </article>
</main>

