---
title: Веб-стандарты
layout: page.njk
permalink: index.html
---

{% include 'header.njk' %}

<main class="main">
    {{ content | safe }}

    {%- for article in collections.article | reverse -%}
        <article class="preview">
            <time class="preview__date" datetime="{{ article.date | isoDate }}">
                {{ article.date | ruDate }}
            </time>
            <img class="preview__photo" src="/images/author--blue.png"
                width="113" height="104" alt="{{ article.data.author.name }}">
            <p class="preview__author">
                <span class="preview__name">{{ article.data.author.name }}</span>
            </p>
            <p class="preview__wrapper">
                <a class="preview__title" href="{{ article.url }}">
                    {{ article.data.title }}
                </a>
            </p>
        </article>
    {%- endfor -%}

    <p class="notice">
        <a class="notice__link" href="/articles/">Все статьи</a>
    </p>
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
