---
title: Веб-стандарты
layout: page.njk
permalink: index.html
---

<main class="main">
    {{ content | safe }}

    {% set articleType %}{{ '--main' }}{% endset %}

    <div class="visually-hidden">
        <h1>Веб-стандарты</h1>
        <p>Сообщество разработчиков</p>
    </div>

    <section class="main__section">
        <h2 class="visually-hidden">Статьи</h2>

        <ul class="articles articles{{ articleType }}">
            {%- for article in indexArticles -%}
                <li class="
                    articles__item
                    articles__item{{ articleType }}
                    {% if article.data.featured == true %}
                        articles__item--featured
                    {% endif %}">
                    {% include 'article-card.njk' %}
                </li>
            {%- endfor -%}
        </ul>

        <p class="notice">
            <a class="notice__link" href="/articles/">Все статьи</a>
        </p>
    </section>

    <section class="main__section">
        <h2 class="visually-hidden">Подкаст</h2>

        {% include "podcast-feature-grid.njk" %}

        <div class="notice">
            <a class="notice__link" href="/podcast/">Все выпуски</a>
        </div>
    </section>
</main>
