---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main">
    <div class="main__content article">
        <div class="article__heading-wrapper{% if not hero %} article__heading-wrapper--no-hero{% endif %}">
            <div class="article__heading">
                <h1 class="article__title">{{ title }}</h1>
                {% if source %}
                    <p class="article__source">
                        Перевод
                        «<a class="article__link" href="{{ source.url }}">{{ source.title }}</a>»
                    </p>
                {% endif %}
                <div class="article__meta">
                    <time class="article__date" datetime="{{ date | isoDate }}">
                        {{ date | ruDate }}
                    </time>
                    <ul class="article__tags">
                        {%- for tag in tags | filterArticleTag -%}
                            <li class="article__tags-item">
                                <a class="article__link" href="/articles/tags/{{ tag }}">
                                    {{ tag }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <p class="article__edit">
                        <a class="article__link" href="https://github.com/web-standards-ru/nouvelle/blob/master/{{ page.inputPath }}">
                            Редактировать статью на Гитхабе
                        </a>
                    </p>
                </div>
            </div>
            {% if hero %}
            <div class="article__hero">
                <img src="{{ hero.src }}" class="article__hero-image" alt="{% if hero.alt %}{{ hero.alt }}{% endif %}">
            </div>
            {% endif %}
        </div>
        <div class="article__authors authors">
            <div class="authors__author">
                {% for person in collections.people | filterPeople(author) %}
                    {% if person.photo %}
                        {% set personPhoto = [author, '/photo.jpg'] | join %}
                    {% else %}
                        {% set personPhoto = 'person.png' %}
                    {% endif %}
                    <a class="authors__author-link"
                        href="{{ person.url }}">
                        <span class="authors__author-avatar blob {% blob person.name %}">
                            <img class="authors__author-photo blob__photo"
                                src="/people/{{ personPhoto }}"
                                width="113" height="104" alt="{{ person.name }}">
                        </span>
                        {{ person.name }}
                    </a>
                {% endfor %}
            </div>

            {% if translators %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Перевод</span>
                    {%- for translator in collections.people | filterPeople(translators) -%}
                        {% if translator.url %}
                            <a class="authors__collaborators-link"
                                href="{{ translator.url }}">
                                {{ translator.name }}
                            </a>
                        {% else %}
                            <span class="authors__collaborators-name">
                                {{ translator.name }}
                            </span>
                        {% endif %}
                    {%- endfor -%}
                </p>
            {% endif %}

            {% if editors %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Редактура</span>
                    {%- for editor in collections.people | filterPeople(editors) -%}
                        <a class="authors__collaborators-link" href="{{ editor.url }}">
                            {{ editor.name }}
                        </a>
                    {%- endfor -%}
                </p>
            {% endif %}
        </div>
        <div class="article__content content">
            {{ content | safe }}
        </div>
    </div>
    <div class="main__related-articles related-articles">
        <h2 class="related-articles__title">Ещё</h2>

        {% set articleType %}{{ '--related' }}{% endset %}

        <ul class="articles articles{{ articleType }}">
            {%- for article in collections.article | reverse | filterCurrentPage(page) | limit(3) -%}
                <li class="articles__item articles__item{{ articleType }}">
                    {% include 'article-card.njk' %}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    {# <div class="main__conference-link">
        {% include 'conference-link.njk' %}
    </div> #}
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
