---
layout: page.njk
---

{% include 'header.njk' %}

<main class="main">
    <div class="main__content article">
        <div class="article__heading-wrapper">
            <div class="article__heading">
                <h1 class="article__title">{{ title }}</h1>
                {% if source %}
                    <p class="article__source">
                        Перевод
                        «<a class="article__link" href="{{ source.url }}">{{ source.title }}</a>»
                    </p>
                {% endif %}
                <div class="article__meta">
                    <time class="article__date" datetime="{{ date | isoDate }}">
                        {{ date | ruDate }}
                    </time>
                    <ul class="article__tags">
                        {%- for tag in tags | filterArticleTag -%}
                            <li class="article__tags-item">
                                <a class="article__tags-link" href="/articles/tags/{{ tag }}">
                                    {{ tag }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
        <div class="article__authors authors">
            <div class="authors__author">
                {% for author in collections.people | filterPeople(author) %}
                    <img class="authors__author-avatar {% blob author.name %}"
                        src="/images/author--placeholder.jpg"
                        width="113" height="104" alt="{{ author.name }}">
                    <a class="authors__author-link" href="{{ author.url }}">
                        {{ author.name }}
                    </a>
                {% endfor %}
            </div>

            {% if translators %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Перевод</span>
                    {%- for translator in collections.people | filterPeople(translators) -%}
                        <a class="authors__collaborators-link" href="{{ translator.url }}">
                            {{ translator.name }}
                        </a>
                    {%- endfor -%}
                </p>
            {% endif %}

            {% if editors %}
                <p class="authors__collaborators">
                    <span class="authors__collaborators-heading">Редактура</span>
                    {%- for editor in collections.people | filterPeople(editors) -%}
                        <a class="authors__collaborators-link" href="{{ editor.url }}">
                            {{ editor.name }}
                        </a>
                    {%- endfor -%}
                </p>
            {% endif %}
        </div>
        <div class="article__content content">
            {{ content | safe }}
        </div>
    </div>
    <div class="main__related-articles related-articles">
        <h2 class="related-articles__title">По теме</h2>

        {% set articleType %}{{ '--related' }}{% endset %}

        <ul class="articles articles{{ articleType }}">
            {# Необходима реализация показа статей "По теме" #}
            {%- for article in collections.article | reverse -%}
                <li class="articles__item articles__item{{ articleType }}">
                    {% include 'article-card.njk' %}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    <div class="main__conference-link">
        {% include 'conference-link.njk' %}
    </div>
</main>

{% include 'aside.njk' %}
{% include 'footer.njk' %}
