<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ renderData.title or title }}
        {% if page.url != '/' %} — Веб-стандарты{% endif %}
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="page__body">
    {% include '../images/blob.svg' %}
    <section class="page__navigation">
        <div class="navigation__logo logo">
            <img class="logo__logotype" src="/images/logo.svg" width="40" height="40" alt="Логотип Веб-стандартов">
            <p class="logo__title">
                {% if page.url != '/' %}<a href="/">{% endif %}
                    Веб-стандарты
                {% if page.url != '/' %}</a>{% endif %}
            </p>
            <p class="logo__tagline">
                Сообщество разработчиков
            </p>
        </div>
        <nav class="navigation__bar">
            <button class="navigation__button"
                aria-label="Открыть меню"
                aria-expanded="false"
                aria-controls="navigation-menu"
                type="button">
                <span class="navigation__inner"></span>
            </button>
            <ul class="navigation__menu" id="navigation-menu">
                <li class="navigation__item">
                    <a class="navigation__link" href="/articles/">Статьи</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">Конференция</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">Календарь</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">Подкаст</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">О проекте</a>
                </li>
                <li class="navigation__item navigation__item--patreon">
                    <a class="navigation__link navigation__link--patreon" href="https://www.patreon.com/webstandards_ru">Поддержать проект</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="page__content">
        {{ content | safe }}
    </section>
    <script src="/scripts/navigation.js"></script>
</body>
</html>
