<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <title>
        {{ pageTitle }}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ preview or site.description }}">
    <meta name="theme-color" content="#81c36d">

    {% if page.url.startsWith('/podcast/') %}
        <meta name="apple-itunes-app" content="app-id=1080500016">
    {% endif %}

    {% include 'open-graph.njk' %}
    {% include 'icons.njk' %}

    <link rel="alternate" href="{{ site.paths.articlesFeed }}" type="application/rss+xml" title="Статьи — Веб-стандарты">
    <link rel="alternate" href="{{ site.paths.podcastsFeed }}" type="application/rss+xml" title="Подкасты — Веб-стандарты">
    <link rel="manifest" href="/manifest.json">
    <link rel="me" href="https://mastodon.social/@webstandards_ru">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/print.css" media="print">
</head>
<body class="page__body">
    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'aside.njk' %}
    {% include 'footer.njk' %}

    <script src="/scripts/index.js"></script>
</body>
</html>
