<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    {% if page.url == '/' %}
        {% set isIndex = true %}
    {% else %}
        {% set titleSuffix = ' — Веб-стандарты' %}
        {% set isIndex = false %}
    {% endif %}

    <title>
        {{ renderData.title or title }}{{ titleSuffix }}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ preview or site.description }}">

    {% include 'open-graph.njk' %}
    {% include 'icons.njk' %}

    <link rel="alternate" href="{{ site.paths.feed }}" type="application/rss+xml" title="Новости — Веб-стандарты">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="page__body{% if isIndex %} page__body--inner{% endif %}">
    <div class="page__navigation{% if isIndex %} page__navigation--inner{% endif %} navigation">
        <div class="navigation__logo logo">
            {% if isIndex %}<a class="logo__link" href="/">{% endif %}
                <img class="logo__icon" src="/images/logo.svg" width="40" height="40" alt="Логотип Веб-стандартов">
                <p class="logo__title">
                    Веб-стандарты
                </p>
                <p class="logo__tagline">
                    Сообщество разработчиков
                </p>
            {% if isIndex %}</a>{% endif %}
        </div>
        <nav class="navigation__bar">
            <button class="navigation__button"
                aria-label="Открыть меню"
                aria-expanded="false"
                aria-controls="navigation-menu"
                type="button">
                <span class="navigation__inner"></span>
            </button>
            {% if page.url == '/articles/' %}
                {% set articlesClass = 'navigation__link--active' %}
            {% else %}
                {% set articlesHref = 'href="/articles/"' %}
            {% endif %}
            <ul class="navigation__menu" id="navigation-menu">
                <li class="navigation__item">
                    <a class="navigation__link {{ articlesClass }}" {{ articlesHref | safe }}>Статьи</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">Календарь</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">Подкаст</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link">О проекте</a>
                </li>
                <li class="navigation__item navigation__item--patreon">
                    <a class="navigation__link navigation__link--patreon" href="https://www.patreon.com/webstandards_ru">Поддержать проект</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="page__content{% if isIndex %} page__content--inner{% endif %}">
        {{ content | safe }}
    </div>
    <script src="/scripts/scripts.js"></script>
</body>
</html>
